
    <header class="main-header" >
            <!-- Logo -->
            <a [routerLink]="['/login']" class="logo" style="background-color:#638f00;">
              <!-- mini logo for sidebar mini 50x50 pixels -->
              <span class="logo-mini"><b>FD</b></span>
              <img style="    max-width: 200px;
              max-height: 75px;
              margin-top: 5px;" src="assets/adminLTE/dist/img/logonew.png" class="logb">
              <!-- logo for regular state and mobile devices -->
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" style="background-color: #638f00;">
              <!-- Sidebar toggle button-->
             
        
              <div class="navbar-custom-menu">
                <ul class="nav navbar-nav custom-navbar">
                  <li>
                      <select class="form-control custom-slct" style="margin-top:5px;width: 100%;"
                          (change)="selectlang($event)" [value]='language'>
                          <option value="{{items?.language}}" *ngFor="let items of arry">{{items?.name}}</option>
                      </select>
                  </li>
              </ul>
              
              </div>
            </nav>
          </header>
          <div class="login-body">
            <section class="content footer-div">
              <div class="topsp">
              
                  <div class="login-box">
                     
                    <!-- /.login-logo -->
                    <div class="login-box-body change-box">
                        <h4 class="login-box-msg" style="text-align:center"><strong class="reset">{{'ResetPassword' | translate}}</strong></h4>
                  
                      <form   [formGroup]="resetPasswordForm">
                      
                
                 
                  
                
                  <label>{{'NewPassword' | translate}}</label>
                        <div class="form-group has-feedback input-eyes" id="myInput" >
                          
                          <input type="{{type}}" class="form-control "  formControlName="newPassword">
                          <a class="eye-icon" (click)="toggleShow1()">
                            <i *ngIf="show == false" class="fa fa-eye-slash"></i>
                            <i *ngIf="show == true" class="fa fa-eye"></i>
                       </a>
                       <div
                       *ngIf="resetPasswordForm.get('newPassword').hasError('required') && resetPasswordForm.get('newPassword').touched">
                       <span style="color:red">New password is required</span></div>
                       <div
                       *ngIf="resetPasswordForm.get('newPassword').hasError('pattern') && resetPasswordForm.get('newPassword').dirty">
                       <span style="color:red"> Password must contain characters, digits and one special character(Min character-8).</span>
                   </div>
                         
                         </div>
                        
                      
                         <label>{{'ConfirmPassword' | translate}}</label>
                        <div class="form-group has-feedback input-eyes" id="myInput">
                            
                            <input type="{{type2}}" class="form-control"  formControlName="confirmPassword">
                            <a class="eye-icon" (click)="toggleShow2()">
                              <i *ngIf="show2 == false" class="fa fa-eye-slash"></i>
                              <i *ngIf="show2 == true" class="fa fa-eye"></i>
                         </a>
                         <div
                         *ngIf="resetPasswordForm.get('confirmPassword').hasError('required') && resetPasswordForm.get('confirmPassword').touched">
                         <span style="color:red">Confirm Password is required</span></div>
                     <div  *ngIf="(resetPasswordForm.value.newPassword != resetPasswordForm.value.confirmPassword) && resetPasswordForm.get('confirmPassword').dirty">
                         <span style="color:red">Confirm password & new password should be same.</span></div>
                          </div>
                         
                
                       
                        <div class="row">
                         
                          <!-- /.col -->
                          <div class="col-xs-4 lognBrn">
                            <button type="submit" class="btn btn-block" [disabled]="!resetPasswordForm.valid" (click)="resetPassword()">Reset Password</button>
                          </div>
                          <!-- /.col -->
                        </div>
                      </form>
                  
          
                  
                    </div>
                    <!-- /.login-box-body -->
                  </div>
                  </div>
          
                  <!-- /.login-box -->
                  
                  <!-- jQuery 3 -->
                
                </section>
          </div>
  


      <footer class="footer-text">
            
                      <strong>Copyright &copy; 2019 <a href="javascript:;">Food Delivery</a>.</strong> 	&nbsp;All rights
                      reserved.
             
          </footer>
      <!-- /.content -->
