<app-header>

</app-header>
<app-menubar></app-menubar>
<div class="content-wrapper">
    <section class="content">
        <div class="">
            <div class="">
                <div class="box">
                    <div class="box-header">
                        <h1 style="font-size: 24px;">
                            {{'ManageFaqs' | translate}}
                        </h1>
                    </div>
                    <div class="row sndRow">
                        <div class="col-md-3 green-col" style="border-radius: 18px!important">
                            <div class="has-search">
                                <label></label>
                                <input type="text" class="form-control" placeholder="{{'Searchbyquestion' | translate}}"
                                    [(ngModel)]="searchByName" (keyup)="enterKey()" maxlength="50" style="border-radius: 20px;">
                                <span class="fa fa-search form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-md-2 green-col">
                            <label>Topic</label>
                            <select class="form-control btn drrop-type" class="filterr" [(ngModel)]="selectTopic"
                                (change)="selectTopics($event.target.value)">
                                <option value=""> {{'SelectTopic' | translate}}</option>
                                <option value="{{topics?.id}}" *ngFor="let topics of topicList">{{topics?.name}}
                                </option>

                            </select>
                        </div>
                        <div class="col-md-2 green-col">
                            <label>{{'Status' | translate}}</label>
                            <select class="form-control btn drrop-type" class="filterr" [(ngModel)]="selectStatus"
                                (change)="selectStatuss($event.target.value)">
                                <option value=""> {{'Status' | translate}}</option>
                                <option value="true">{{'Active' | translate}}</option>
                                <option value="false">{{'Inactive' | translate}}</option>
                            </select>
                        </div>
                        <div class=" btn two three-btn">
                            <button type="button" class="btn margin view-btn mb-0" style="background-color:green !important;   "
                                (click)="submit()" [disabled]="disabled==false"> {{'Apply' | translate}}</button>
                            <button type="button" class="btn margin margin1 export mb-0" (click)=reset()> {{'Reset' | translate}}</button>
                        </div>
                    </div>
                    <div class="rghtSde">
                        <div class=" btn two three-btn">
                            <button type="button" class="btn margin margin1 export mb-0" [routerLink]="['/topic-management']">{{'Topics' | translate}}</button>
                            <button type="button" class="btn margin view-btn mb-0" style="background-color:green !important"
                                [routerLink]="['/add-faq']"> {{'AddQuestion' | translate}}</button>
                        </div>
                    </div>

                    <div class="box-body zui-scroller table-responsive">
                        <table id="example2" class="table zui-table table-bordered table-hover">
                            <thead>
                                <tr class="idMerchant">
                                    <th>{{'S.NO' | translate}}</th>
                                    <th>{{'Question' | translate}}</th>
                                    <th>{{'Topic' | translate}}</th>
                                    <th>{{'CreatedAt' | translate}}</th>
                                    <th>{{'CreatedBy' | translate}}</th>
                                    <th>{{'UpdatedAt' | translate}}</th>
                                    <th>{{'UpdatedBy' | translate}}</th>
                                    <th>{{'Status' | translate}}</th>
                                    <th>{{'Action' | translate}}</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let data of faqlist | paginate : {itemsPerPage:10, currentPage:page, totalItems:total}:index as i">
                                    <td>{{data?.id}}</td>
                                    <td class="table-width" title="{{data?.question || '--' }}">{{data?.question || '--' }}</td>
                                    <td>{{data?.topic_name || '--' }}</td>
                                    <td>{{data?.created_at | date:'M/d/yy, H:mm'}}</td>
                                    <td>{{data?.created_by?.first_name || '--'}}</td>
                                    <td>{{data?.updated_at | date:'M/d/yy, H:mm' }}</td>
                                    <td>{{data?.updated_by?.first_name || '--' }}</td>
                                    <td *ngIf="data?.is_active == true">Active</td>
                                    <td *ngIf="data?.is_active == false">Inactive</td>
                                    <td style="white-space: nowrap;">
                                        <div>
                                            <button class="submitt" style="background-color:#8d908f"
                                                [routerLink]="['/edit-faq',{id:data?.id}]"> {{'Edit' | translate}}</button>
                                            <button class="block-btns1" style="background-color:#fd1b00"
                                                (click)="deleteFaq(data?.id)"> {{'Delete' | translate}}</button>
                                                <button class="detail" style="background-color:#8d908f"
                                                *ngIf="data?.is_active == true"
                                                    (click)="unpublish(data?.id,data?.is_active)"> {{'Un-publish' | translate}}</button>
                                                    <button class="detail" style="background-color:#8d908f"
                                                    *ngIf="data?.is_active == false"
                                                    (click)="unpublish(data?.id,data?.is_active)">{{'Publish' | translate}} </button>
                                                    <button class="detail" style="background-color:#fda400;margin-left: 10px;"
                                                    [routerLink]="['/edit-faq',{id:data?.id,language:'th',thai_id:data?.thai_topic_id}]">{{'Translate' | translate}}</button>
                                                </div>
                                       
                                        <!-- kjhkjhkj -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h2 *ngIf="faqlist?.length == 0" style="text-align:center;"> {{'Datanotfound!' | translate}}</h2>
                    </div>

                    <div class="pageination">
                        <pagination-controls (pageChange)="getFaqList($event)" style="float:right;"
                            autoHide="true" *ngIf="faqlist?.length != 0">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="footer-section">
    <app-footer></app-footer>
</div>

<div class="modal" id="deleteFaq" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modals">
            <div class="modal-header">
                <h2 class="modalstyle"> {{'Delete' | translate}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                 {{'Areyousureyouwanttodeletethisquestion?' | translate}}
            </div>
            
            <div class="modal-footer" style="display: flex; justify-content: space-evenly;">
                <button type="button" data-dismiss="modal" class="submit"
                    style="background: red;color: #fff;"> {{'No' | translate}}</button>
                <button type="button" class="submit"
                  
                    (click)="deletemodal()"> {{'Yes' | translate}}</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="unpublis" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modals">
            <div class="modal-header">
                <h2 class="modalstyle" *ngIf="is_active == true" > {{'Publish' | translate}}</h2>
                <h2 class="modalstyle" *ngIf="is_active == false" > {{'Un-Publish' | translate}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;" *ngIf="is_active == true" >
                {{'Areyousureyouwanttopublishthisquestion?' | translate}}
            </div>
            <div class="modal-body" style="text-align: center;" *ngIf="is_active == false">
                 {{'Areyousureyouwanttoun-publishthisquestion?' | translate}}
            </div>
            <div class="modal-footer" style="display: flex; justify-content: space-evenly;">
                <button type="button" data-dismiss="modal" class="submit"
                    style="background: red;color: #fff;"> {{'No' | translate}}</button>
                <button type="button" class="submit"
               
                    (click)="deletemodal()"> {{'Yes' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="googleauth" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modals">
            <div class="modal-header">
                <h4 class="modalstyle" style="text-align:center">2 {{'StepVerification' | translate}}</h4>
                <button type="button" class="close" (click)="resets()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-box">
                <div class="ggcode">
                    <p>{{errorMessage}}</p>

                </div>

                <div class="form-group has-feedback codeSpace">
                    <label style="margin-left: 57px;">{{'GoogleAuthenticationCode' | translate}}</label>
                

                    <div class="otp-field">
                        <!-- <ng-otp-input (onInputChange)="onOtpChange($event)" required="true" value="" (keypress)="numberOnly($event)" type="number" [config]="config" style="width:57px; height:57px;"></ng-otp-input> -->
                        <!-- <ng-otp-input (onInputChange)="onOtpChange($event)" required="true" value="" (keypress)="numberOnly($event)" type="number"
                        [config]="{length:6}" style="width:57px; height:57px;"></ng-otp-input> -->
                        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" (keypress)="numberOnly($event)" type="number"
                        style="width:57px; height:57px;" [config]="{length:6}" ></ng-otp-input>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4 lognBrn">
                        <button type="submit" class="btn btn-primary btn-block btn-flat"  [disabled]="!varificationCode" (click)="verify()">Verify</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</div>