<app-header></app-header>
<span class="lb">
        <h3>View Kyc</h3>
        <span class="rejected">
            <p style="color: green;margin-left: 51%">Rejected </p>
        </span>
</span>

<div class="container">
   
        <form class="well form-horizontal">

                <div class="form-group">
                    <label class="col-md-4 control-label">Nationality </label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><p 
                                 >Thai</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Title</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><p >Mr/Miss</p></div>
                    </div>
                </div>
                <div class="form-group">
                        <label class="col-md-4 control-label">First Name</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><p >Larem</p></div>
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-4 control-label">Last Name</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><p >Larem</p></div>
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="col-md-4 control-label">Middle Name</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><p >Larem</p></div>
                                </div>
                            </div>
                <div>
                    <u style="color:black"> Address</u>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Street</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><p>42 oream ipsim loream ipsum</p></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Cuntry</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><p>Cuntry Name</p></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Zipe Code</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><p>982552</p></div>
                    </div>
                </div>
                <div>
                    <u style="color:black">Vehicle Details</u>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Types's Of Vehicle </label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><p>bike</p></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Plat Number</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><p>zx-3232</p></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Licence Number</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><p>0212122</p></div>
                    </div>
                </div>
                <div class="form-group">
                        <label class="col-md-4 control-label">Insurance Number</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><p>98989998999</p></div>
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-4 control-label">Insurance Company</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><p>98989998999</p></div>
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="col-md-4 control-label">Remark</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><p style="border: solid;">
                                            Wiki software is collaborative software that runs a 
                                            wiki, which allows users to create and collaboratively
                                             edit "pages" or entries via a web browser.
                                              A wiki system is usually a 
                                            web application that runs on one or more web servers.
                                    </p></div>
                                </div>
                            </div>
        
        
            </form>
            <form class="well form-horizontal">
                <fieldset>
                    <div class="row form-group">
                        <label class="col-md-5 control-label">Date of Birth</label>
                        <div class="col-md-7 inputGroupContainer registration-col">
                            <div class="input-group"><p>12/01/1994</p></div>     
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Gender</label>
                            <div class="col-md-7 inputGroupContainer registration-col">
                                <div class="input-group"><p>male</p></div>     
                            </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Passport/national ID</label>
                        <div class="col-md-7 inputGroupContainer registration-col">
                            <div class="input-group"><p>56565465656456</p></div>     
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Selfi</label>
                        <div class="col-md-7 inputGroupContainer registration-col">
                            <div class="input-group"><p>image</p></div>     
                        </div>
                       
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">National ID/Passport Image</label>
                        <div class="col-md-7 inputGroupContainer registration-col">
                            <div class="input-group"><p>image</p></div>     
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-5 control-label">City Name</label>
                        <div class="col-md-7 inputGroupContainer registration-col">
                            <div class="col-md-7 inputGroupContainer registration-col">
                                <div class="input-group"><p>City Name</p></div>     
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-4 control-label">Provision </label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="col-md-7 inputGroupContainer registration-col">
                                    <div class="input-group"><p>Provision name</p></div>     
                                </div>
                                        
                            </div>
                        </div>
               
                    <div class="form-group">
                        <label class="col-md-4 control-label">Vehicle</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="col-md-8 inputGroupContainer">
                                <div class="col-md-7 inputGroupContainer registration-col">
                                    <div class="input-group"><p>image</p></div>     
                                </div>
                                        
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Licence Image</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="col-md-8 inputGroupContainer">
                                <div class="col-md-7 inputGroupContainer registration-col">
                                    <div class="input-group"><p>image</p></div>     
                                </div>
                                <!-- Insurance -->
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-4 control-label">Insurance Image</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="col-md-7 inputGroupContainer registration-col">
                                        <div class="input-group"><p>image</p></div>     
                                    </div>
                                    <!-- Insurance -->
                                </div>
                            </div>
                        </div>
                </fieldset>
               
            </form>
   
</div>
