<app-header></app-header>
<app-menubar></app-menubar>
<div class="content-wrapper">

    <section class="content footer-div">
        <div class="">
            <div class="">
                <div class="box">
                    <div class="box-header">
                        <h1 style="font-size: 24px;">
                            {{'categoryManag' | translate}}

                        </h1>
                    </div>

                    <div class="row sndRow">
                        <div class="col-md-3 green-col" style="border-radius: 18px!important">
                            <div class="has-search">
                                <label></label>
                                <input type="text" class="form-control"  placeholder="{{'Searchbynameid' | translate}}" (keyup)="searchcuisineName($event.target.value);"  [(ngModel)]="searchRole" maxlength="50"  style="border-radius: 20px;">
                                <span class="fa fa-search form-control-feedback"></span>
                            </div>
                        </div>
                        
                        <div class="col-md-2 green-col">
                            <label>{{'FilterbyStatus' | translate}}</label>
                            <select class="form-control btn drrop-type"  class="filterr"  [(ngModel)]="selectState" (change)="selectStatus($event.target.value)">
                                <option value="">{{'FilterbyStatus'| translate}}</option>
                                <option value="Pending">{{'Pending'| translate}}</option>
                                <option value="Submitted">{{'Submitted'| translate}}</option>
                                <option value="Approved">{{'Approved'| translate}}</option>
                                <option value="Rejected">{{'Rejected'| translate}}</option>
                                <option value="Active">{{'Active'| translate}}</option>
                                </select>
                        </div>
                        <div class="col-md-2 green-col">
                            <label>{{'FromDate'| translate}}</label>
                            <input type="date" class="form-control dt1" [(ngModel)]="selectdate" (ngModelChange)="getDate($event)" max="{{toMaxDate | date:'yyyy-MM-dd'}}">
                        </div>
                        <div class="col-md-2 green-col">
                            <label>{{'ToDate'| translate}}</label>
                            <input type="date" class="form-control dt2" [(ngModel)]="selectend" (ngModelChange)="fromMaxDate($event)" min="{{formDate | date:'yyyy-MM-dd'}}" >
                        </div>
                        <div class="col-md-3" style="padding-top: 1.2%;">
                            <div class="btn-div">
                                <button type="button" (click)="filter()" class="btn bg-olive mr-3"  [disabled]="!disables">{{'Submit' | translate}}</button>
                             
                                <button type="button" (click)=reset() class="btn margin margin1" >{{'Reset' | translate}}</button>
                            </div>
                        </div>
                    

                    </div>

                    <div >
                    <div class="rghtSde two-btnsubmit margin-rightbox">
                        <div class="btn two">

                            <button type="button" class="btn bg-olive"  [routerLink]="['/add-category']"> {{'addCategory' | translate}}</button>

                        </div>

                    </div>
                </div>

                    <div class="box-body zui-scroller table-responsive">
                        <table id="example2" aria-describedby="" class="table zui-table table-bordered table-hover">
                            <thead>
                                <tr class="idMerchant">
                                    <th scope="col">{{'categoryId' | translate}}</th>
                                    <th scope="col">{{'CategoryName' | translate}}</th>
                                    <th scope="col">{{'CreatedAt' | translate}}</th>
                                    <th scope="col">{{'CreatedBy' | translate}}</th>
                                    <th scope="col">{{'UpdatedAt' | translate}}</th>
                                    <th scope="col">{{'UpdatedBy' | translate}}</th>
                                    <th scope="col">{{'Status' | translate}}</th>
                                    <th scope="col">{{'Action' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let data of cousins_list | paginate : {itemsPerPage:limit, currentPage:page, totalItems:total}: index as i">
                                    <td>{{(data?.created_at | date : 'dd/MM/yyyy, H:mm' )|| '--' }}</td>
                                 -->
                                    <tr *ngFor="let data of managecategory | paginate: { itemsPerPage: limit, currentPage: page ,totalItems:total}:index as i">
                                        <td>{{"C"+data.category_id}}</td>
                                        <td>{{data.category_name}}</td>
                                        <td>{{data.created_at|date : 'dd/MM/yyyy, H:mm' ||'--' || '--'}}</td>
                                        <td>{{data?.createdby[0].first_name+" "+data?.createdby[0].last_name}}</td>
                                        <td>{{data.updated_at|date : 'dd/MM/yyyy, H:mm' ||'--' || '--'}}</td>
                                        <td>{{data?.updatedby[0].first_name+" "+data?.updatedby[0].last_name}}</td>
                                        <td>{{data.status}}</td>
                                    <td ><div style="display: flex;">
                                
                                        <button class="skyblue-btn" [routerLink]="['/edit-category',data?._id]">{{'Edit' | translate}}</button>
                                        <button class="translate" (click)="openModal(data?._id)" style="background-color: red">{{'Delete' | translate}}</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h2 *ngIf="managecategory?.length==0 " style="text-align:center; ">{{'Datanotfound!' | translate}}</h2>
                    </div>
                 


                    <div class="pageination ">
                        <pagination-controls (pageChange)="pagination($event) "  *ngIf="managecategory?.length !=0 ">
                        </pagination-controls>
                    </div>


                </div>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>


    <!-- /.content -->

</div>

<footer class="footer-text ">
    <strong> {{'Copyright' | translate}}&copy; 2020 <a href="javascript:; ">{{'FoodDelivery' | translate}}</a></strong> &nbsp;{{'Allrightsreserved' | translate}}

</footer>

<div class="modal" id="comanModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modals">
            <div class="modal-header">
                <h2 > {{'Delete' | translate}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <!-- {{'Areyousureyouwanttounblockthisrole?' | translate}} -->
                <p >{{'Areyousureyouwanttodeletethiscuisine?' | translate}}</p>
              
            </div>
        
            <div class="modal-footer" style="display: flex; justify-content: space-evenly;">
                <button type="button" data-dismiss="modal" class="submit" style="background: red;color: #fff;">{{'No' | translate}}</button>
                <button type="button" (click)="modal()" class="submit" >{{'Yes' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="googleauth" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modals">
            <div class="modal-header">
                <h4 class="modalstyle" style="text-align:center">2 {{'StepVerification' | translate}}</h4>
                <button type="button" class="close" (click)="reset()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-box">
                <div class="ggcode">
                    <p>{{errorMessage}}</p>

                </div>

                <div class="form-group has-feedback codeSpace">
                    <label style="margin-left: 57px;">{{'GoogleAuthenticationCode' | translate}}</label>
                

                    <div class="otp-field">
            
                        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" (keypress)="numberOnly($event)" type="number"
                        style="width:57px; height:57px;" [config]="{length:6}" ></ng-otp-input>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4 lognBrn">
                        <button type="submit" class="btn btn-primary btn-block btn-flat"  [disabled]="!varificationCode" (click)="verify()">Verify</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</div>