<app-header></app-header>
<app-menubar></app-menubar>
<div class="content-wrapper">
    <section class="content footer-div">
        <div class="">
            <div class="">
                <div class="box">
                    <div class="box-header">
                        <h3 style="font-size: 24px;">
                           {{'ManageAllergans' | translate}}
                        </h3>
                    </div>
                    <div class="rghtSde two-btnsubmit margin-rightbox">
                        <div class="btn two">
                            <button type="button" class="btn bg-olive" [routerLink]="['/add-allergen']">{{'AddAllergan' | translate}}</button>
                            <button type="button" class="btn margin margin1" (click)="exportAsXLSX()" *ngIf="allergan_list?.length!= 0">{{'Export' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="box-body zui-scroller table-responsive">
                        <table id="example2" class="table zui-table table-bordered table-hover">
                            <thead>
                                <tr class="idMerchant">
                                    <th>{{'Allergan' | translate}}</th>
                                    <th>{{'Ingredients' | translate}}</th>
                                    <th>{{'CreatedAt' | translate}}</th>
                                    <th>{{'CreatedBy' | translate}}</th>
                                    <th style="width: 30%;">{{'Action' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of allergan_list | paginate: { itemsPerPage: limit, currentPage: page, totalItems: total }; index as i">
                                    <td class="table-width" title="{{data?.allergan_name}}">{{data?.allergan_name || '--' }}</td>
                                    <td class="table-width" title="{{data?.ingredients}}" style="white-space: nowrap;">{{data?.ingredients || '--' }}</td>
                                    <td>{{(data?.created_at | date : 'dd/MM/yyyy, H:mm' )|| '--' }}</td>
                                    <td>{{data?.created_by}}</td>

                                    <td style="display: flex">
                                        <button class="block-btns1" [routerLink]="['/view-allergan',data?.id,'0']">{{'View' | translate}}</button>
                                        <button class="block-btns2" [routerLink]="['/edit-allergan',data?.id,'0']">{{'Edit' | translate}}</button>
                                        <button class="block-btns3" (click)="deleteFunction(data?.id)"> {{'Delete' | translate}}</button>
                                        <button class="block-btns4" [routerLink]="['/edit-allergan',data?.id,'th']"> {{'Translate' | translate}}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h2 *ngIf="allergan_list?.length == 0" style="text-align:center;">{{'Datanotfound!' | translate}}</h2>
                    </div>
                    <div class="pageination">
                        <pagination-controls (pageChange)="getallergen($event) "  *ngIf="allergan_list?.length != 0">
                        </pagination-controls>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
 
    <!-- /.content -->
</div>
<footer class="footer-text">
    <strong> {{'Copyright' | translate}}&copy; 2020
        <a href="javascript:;">{{'FoodDelivery' | translate}}</a></strong> &nbsp; {{'Allrightsreserved' | translate}}
</footer>

<!-- ****************************************delete modal******************************************** -->

<div class="modal" id="exampleModal2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modals">
            <div class="modal-header">
                <h2 class="modalstyle">{{'Delete' | translate}}</h2>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>


            <div class="modal-body" style="text-align: center;">
                {{'Areyousureyouwanttodeletethisallergans?' | translate}}
            </div>

            <div class="modal-footer" style="display: flex; justify-content: space-evenly;">
                <button type="button" data-dismiss="modal" class="submit" style="background-color: #ff2f00;color: #fff;">{{'No' | translate}}</button>
                <button type="button" class="submit"  (click)="modal()">{{'Yes' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<!-- -------------------------------------Google auth modal---------------- -->
<div class="modal" id="googleauth" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modals">
            <div class="modal-header">
                <h4 class="modalstyle" style="text-align:center">2 {{'StepVerification' | translate}}</h4>
                <button type="button" class="close" (click)="reset()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-box">
                <div class="ggcode">
                    <p>{{errorMessage}}</p>

                </div>

                <div class="form-group has-feedback codeSpace">
                    <label style="margin-left: 57px;">{{'GoogleAuthenticationCode' | translate}}</label>
                

                    <div class="otp-field">
                    
                        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" (keypress)="numberOnly($event)" type="number"
                        style="width:57px; height:57px;" [config]="{length:6}" ></ng-otp-input>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4 lognBrn">
                        <button type="submit" class="btn btn-primary btn-block btn-flat"  [disabled]="!varificationCode" (click)="verify()">Verify</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</div>