<app-header></app-header>
<app-menubar></app-menubar>
<div class="content-wrapper">
    <section class="content footer-div">
        <div class="">
            <div class="">
                <div class="box">
                    <div class="box-header">
                        <h1 style="font-size: 24px;">
                           Edit Restaurant
                        </h1>
                    </div>

                     <!-- tab section -->
                     <div class="tab-section">
                        <div class="tab">
                            <button class="tablinks" [ngClass]="tabView == 'companyDetails' ? 'active': ''"
                                (click)="viewTab('companyDetails')">Company Details</button>
                            <button class="tablinks" [ngClass]="tabView == 'restaurentDetails' ? 'active': ''"
                                (click)="viewTab('restaurentDetails')">Restaurant Details</button>
                                <button class="tablinks" [ngClass]="tabView == 'itemDetails' ? 'active': ''"
                                (click)="viewTab('itemDetails')">Item Details</button>
                                 <button class="tablinks" [ngClass]="tabView == 'bankDetails' ? 'active': ''"
                                (click)="viewTab('bankDetails')">Bank Details</button>
                        </div>
                    </div>

                    <div class="box-header  box-hearder-564">
                        <form class="" [formGroup]="form">
                            <h3 class="p-3 pl-5">Restaurant Details</h3>
                            <div class="cusine" >
                                <div class="col-md-12" >
                                    <div class="row mb-3">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Restaurant Name</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control" placeholder="Dominoz Pizza"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> Restaurant Image                                            </label>
                                            <span class="col-md-1"> : </span>
                                            <input type="text" class="col-md-6 int form-control" readonly placeholder="https://d1icd6shlvmxi6.cloudfront.net/gsc/NXDWA5/c3/7e/69/c37e6920d6714172a8cc85db3b73ecff/image1.png?token=5de5d74ae6950179e283be9b9b8beb2f7c89b3a56c606dd1c580ece8e39f49b6"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                            <div class="col-md-2">
                                                <button type="submit" style="margin-top: 19px" class="btn btn-flat cusine btn-flat">{{'Upload' | translate}}</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Select Cuisines</label>
                                            <span class="col-md-1">:</span>
                                           <select name="" class="col-md-8 form-control" id="">
                                               <option value="">Select Cuisines</option>
                                           </select>
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap">Cost Per Person</label>
                                            <span class="col-md-1"> : </span>
                                            <input type="text" class="col-md-8 int form-control" placeholder="200"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                          
                                        </div>
                                       
                                    </div>
                                    <div class="row mb-3">
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap">Order Delivery Time</label>
                                            <span class="col-md-1"> : </span>
                                            <input type="text" class="col-md-8 int form-control" placeholder="10"
                                            (keypress)="service.preventSpace($event)" formControlName="category">    
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap">About Us</label>
                                            <span class="col-md-1"> : </span>
                                            <input type="text" class="col-md-6 int form-control" readonly placeholder="njihdudh hdchdcf vf vf vf v fv gb gf bfb f "
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                            <div class="col-md-2">
                                                <button type="submit" style="margin-top: 19px" class="btn btn-flat cusine btn-flat">{{'Upload' | translate}}</button>
                                            </div>
                                          
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div  class="col-md-6 align-items-center">
                                            <label class="col-md-3 text-nowrap">Operation Hours</label>
                                           
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap">Menu Image</label>
                                            <span class="col-md-1"> : </span>
                                            <input type="text" class="col-md-8 int form-control" placeholder="https://d1icd6shlvmxi6.cloudfront.net/gsc/NXDWA5/c3/7e/69/c37e6920d6714172a8cc85db3b73ecff/image1.png?token=5de5d74ae6950179e283be9b9b8beb2f7c89b3a56c606dd1c580ece8e39f49b6"
                                            (keypress)="service.preventSpace($event)" formControlName="category">    
                                        </div>
                                    </div>

                                    <div class="row mb-3 pl-5">
                                        <div class="d-flex col-md-6" style="justify-content: space-evenly;margin-left: -4%">
                                            <label for=""> Mon</label>
                                            <span>From</span>
                                            <input type="time" class="col-md-2" placeholder="HH:MM">
                                            <span>To</span>
                                            <input type="time" class="col-md-2" placeholder="HH:MM">
                                        </div> 
                                    </div>
                                    <div class="row mb-3 pl-5">
                                        <div class="d-flex col-md-6" style="justify-content: space-evenly;margin-left: -4%">
                                            <label for=""> Tue</label>
                                            <span>From</span>
                                            <input type="time" class="col-md-2" placeholder="HH:MM">
                                            <span>To</span>
                                            <input type="time" class="col-md-2" placeholder="HH:MM">
                                        </div> 
                                    </div>
                                   
                                    <div class="row mb-3 pl-5">
                                        <div class="d-flex col-md-6" style="justify-content: space-evenly;margin-left: -4%">
                                            <label for=""> Wed</label>
                                            <span>From</span>
                                            <input type="time" class="col-md-2" placeholder="HH:MM">
                                            <span>To</span>
                                            <input type="time" class="col-md-2" placeholder="HH:MM">
                                        </div> 
                                    </div>
                                    <div class="row mb-3 pl-5">
                                        <div class="d-flex col-md-6" style="justify-content: space-evenly;margin-left: -4%">
                                            <label for=""> Thu</label>
                                            <span>From</span>
                                            <input type="time" class="col-md-2" placeholder="HH:MM">
                                            <span>To</span>
                                            <input type="time" class="col-md-2" placeholder="HH:MM">
                                        </div> 
                                    </div>
                                    <div class="row mb-3 pl-5">
                                        <div class="d-flex col-md-6" style="justify-content: space-evenly;margin-left: -4%">
                                            <label for=""> Fri</label>
                                            <span>From</span>
                                            <input type="time" class="col-md-2" placeholder="HH:MM">
                                            <span>To</span>
                                            <input type="time" class="col-md-2" placeholder="HH:MM">
                                        </div> 
                                    </div>
                                    <div class="row mb-3 pl-5">
                                        <div class="d-flex col-md-6" style="justify-content: space-evenly;margin-left: -4%">
                                            <label for=""> Sat</label>
                                            <span>From</span>
                                            <input type="time" class="col-md-2" placeholder="HH:MM">
                                            <span>To</span>
                                            <input type="time" class="col-md-2" placeholder="HH:MM">
                                        </div> 
                                    </div>
                                    <div class="row mb-3 pl-5">
                                        <div class="d-flex col-md-6" style="justify-content: space-evenly;margin-left: -4%">
                                            <label for=""> Sun</label>
                                            <span>From</span>
                                            <input type="time" class="col-md-2" placeholder="HH:MM">
                                            <span>To</span>
                                            <input type="time" class="col-md-2" placeholder="HH:MM">
                                        </div> 
                                    </div>

                                    <h3 class="p-3 pl-4">Restaurant Address</h3>
                                    <div class="row mb-5">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Street</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control" placeholder="D-115 okhla phase 1"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> City</label>
                                            <span class="col-md-1"> : </span>
                                            <select name="" id=""class="col-md-8 int form-control">
                                                <option value="">Select City</option>
                                            </select>
                                        </div>
                                       
                                    </div> 
                                     <div class="row mb-5">
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> Country</label>
                                            <span class="col-md-1"> : </span>
                                            <select name="" id=""class="col-md-8 int form-control">
                                                <option value="">Select Country</option>
                                            </select>
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> Province</label>
                                            <span class="col-md-1"> : </span>
                                            <select name="" id=""class="col-md-8 int form-control">
                                                <option value="">Select Province</option>
                                            </select>
                                        </div>
                                       
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Zipcode</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control" placeholder="110020"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Email ID</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control" placeholder="nish@gmail.com"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                       
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Phone Number</label>
                                            <span class="col-md-1">:</span>
                                            <select name="" id="" style="height: 41px;" class="col-md-2 int form-control">
                                                <option value="">+91</option>
                                            </select>
                                            <input type="text" class="col-md-6 int form-control" placeholder="9855875876"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> Delivery Zones</label>
                                            <span class="col-md-1"> : </span>
                                            <select name="" id=""class="col-md-8 int form-control">
                                                <option value="">Select delivery zones</option>
                                            </select>
                                        </div>                  
                                    </div>
                                </div>
                               
                            </div>
                           
                            <div class="bx mt-4-btn" style="display: flex;justify-content: center;width: 100%;">
                                <button type="submit" routerLink = "/view-resturant-details" class="btn btn-flat cusine btn-flat">{{'UPDATE' | translate}}</button>

                                <button type="submit" routerLink = "/view-resturant-details" class="btn btn-flat ml-3 cusine btn-flat">{{'CANCEL' | translate}}</button>
                                   
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<footer class="footer-text ">
    <strong> {{'Copyright' | translate}}&copy; 2020 <a href="javascript:; ">{{'FoodDelivery' | translate}}</a></strong> &nbsp;{{'Allrightsreserved' | translate}}

</footer>

