<app-header>

</app-header>
<app-menubar></app-menubar>
<div class="">
    <div class="login-box">

        <!-- /.login-logo -->
        <div class="login-box-body">
            <h4 class="login-box-msg" style="text-align:center">2 Step Verification</h4>


            <div class="form-box">
                <div class="barCode" *ngIf="qrCode">
                </div>
                <div class="form-group has-feedback codeSpace">
                    <label>Google Authentication Code</label>

                    <div class="otp-field">
                        <ng-otp-input (onInputChange)="onOtpChange($event)" required="true" value="" (keypress)="numberOnly($event)" type="number" [config]="{length:6}" style="width:57px; height:57px;"></ng-otp-input>
                    </div>
                </div>


                <div class="row">

                    <!-- /.col -->
                    <div class="col-xs-4 lognBrn">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!varificationCode" (click)="vefify()">Verify</button>
                    </div>
                    <!-- /.col -->
                </div>
            </div>




        </div>
        <!-- /.login-box-body -->
    </div>
</div>
<app-footer></app-footer>