<app-header></app-header>
<app-menubar></app-menubar>
<div >
  <div class="content-wrapper">
    <section class="content footer-div">
        <div class=" setingTop">
            <div class="pl-3">
                <h1 style="font-size: 24px;">
                    {{'viewCoupon' | translate}}
                </h1>
            </div>
            <div class="d-flex justify-content-end p-2">
                <button type="submit" class="btn btn-flat ml-5 cusine btn-flat" 
                style="background-color: #006d80;margin: 0;"  routerLink ="/coupon-management">{{'Back' | translate}}</button>
        </div>


            <div class="box-header  box-hearder-564">
                <form class="" >
                    <div class="cusine" >
                        <div class="col-md-12" >

                            <div class="row mb-3">
                                <div class="col-md-6 d-flex">
                                    <label class="col-md-3 text-nowrap p-0"> {{'couponImage' | translate}}</label>  
                                    <span class="col-md-3 text-center">:</span>
                                    <div class="col-md-6">
                                     <img src="assets/Images/food images.jpg" alt="">
                                    </div>
                                </div>
                               <div class="col-md-6 d-flex">
                                <label class="col-md-3 p-0 text-nowrap"> {{'City' | translate}}</label>
                                <span  class="col-md-3 text-center">:</span> 
                                <div class="col-md-6">
                                   <p>Bareilly</p>
                                </div>                               
                               </div>
                            </div>


                          
                            <div class="row mb-3 d-flex align-items-center">
                                <div class="col-md-6 d-flex">
                                    <label class="col-md-3 p-0 text-nowrap"> {{'Selectrestaurant' | translate}}</label>  
                                    <span class="col-md-3 text-center">:</span>                              
                                   <p> Dominoz, Pizza Hut</p>
                                </div>
                                <div class="col-md-6 d-flex align-items-center">
                                    <label class="col-md-3 p-0 text-nowrap"> {{'couponName' | translate}}</label>  
                                    <span class="col-md-3 text-center">:</span>                              
                                   <p>PARTY</p>
                                </div>
                            </div>

                            <div class="row mb-3 d-flex align-items-center">
                                <div class="col-md-6 d-flex align-items-center">
                                    <label class="col-md-3 p-0 text-nowrap"> {{'couponCode' | translate}}</label>  
                                    <span class="col-md-3 text-center">:</span>                              
                                    <p>PARTY</p>
                                </div>
                                <div class="col-md-6 d-flex">
                                    <label class="col-md-3 p-0 text-nowrap"> {{'coupontype' | translate}}</label>  
                                    <span class="col-md-3 text-center">:</span>                              
                                   <p>Flat</p>
                                </div>
                            </div>

                            <div class="row mb-3 d-flex align-items-center">
                                <div class="col-md-6 d-flex align-items-center">
                                    <label class="col-md-3 p-0 text-nowrap"> {{'couponValue' | translate}}</label>  
                                    <span class="col-md-3 text-center">:</span>                              
                                  <p>50 INR </p>
                                </div>
                                <div class="col-md-6 d-flex">
                                    <label class="col-md-3 p-0 text-nowrap"> {{'MinOrderValueOptional' | translate}}</label>  
                                    <span class="col-md-3 text-center">:</span>                              
                                    <p>100 INR</p>
                                </div>
                            </div>

                            <div class="row mb-3 d-flex align-items-center">
                                <div class="col-md-6 d-flex align-items-center">
                                    <label class="col-md-3 p-0 text-nowrap"> {{'MaxCouponValue' | translate}}</label>  
                                    <span class="col-md-3 text-center">:</span>                              
                                    <p>60 INR </p>
                                </div>
                                <div class="col-md-6 d-flex">
                                    <label class="col-md-3 p-0 text-nowrap"> {{'StartDate' | translate}}</label>  
                                    <span class="col-md-3 text-center">:</span>                              
                                   <p>02/02/2020</p>
                                </div>
                            </div>
                            <div class="row mb-3 d-flex align-items-center">
                                <div class="col-md-6 d-flex align-items-center">
                                    <label class="col-md-3 p-0 text-nowrap"> {{'EndDate' | translate}}</label>  
                                    <span class="col-md-3 text-center">:</span>                              
                                   <p>08/02/2020</p>
                                </div>
                                <div class="col-md-6 d-flex">
                                    <label class="col-md-3 p-0 text-nowrap"> {{'CouponQuantity' | translate}}</label>  
                                    <span class="col-md-3 text-center">:</span>                              
                                   <p>5</p>
                                </div>
                            </div>

                            <div class="row mb-3 d-flex align-items-center">
                                <div class="col-md-6 d-flex align-items-center">
                                    <label class="col-md-3 p-0 text-nowrap"> {{'Description' | translate}}</label>  
                                    <span class="col-md-3 text-center">:</span>                              
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                                </div>
                              
                            </div>

                        </div>                 
                    </div>
                   
                   
                </form>
            </div>
        </div>
    </section>
  </div>
    <app-footer></app-footer>
</div>




