<app-header>
</app-header>
<app-menubar></app-menubar>
<div >
  <div class="content-wrapper">
    <div class="content footer-div">
        <div class="box-header">
            <h3>{{'AddNewSalesRepresentative' | translate}}</h3>
        </div>
        <div class="box-header">
            <form class=" custom-Form" [formGroup]="submitFormKyc" autocomplete="off" #f="ngForm"
                style="background-color: #f5f5f5; border: 1px solid #e3e3e3;padding: 15px; margin-bottom: 20px;">
                <div class="row">
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-5 control-label">{{'Title' | translate}}</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <select class="form-control" formControlName="titel">
                                        <option value="Mr." selected="selected">{{'Mr' | translate}}</option>
                                        <option value="Mrs.">{{'Mrs' | translate}}. </option>
                                        <option value="Ms.">{{'Ms' | translate}}. </option>
                                    </select>
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('titel').hasError('required') && submitFormKyc.get('titel').touched">
                                    <span style="color:red">{{'Titleisrequired' | translate}}.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-5 control-label">{{'FirstName' | translate}}:</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <input name="fullName" formControlName="FirstName" (keypress)="nonumber($event)"
                                        (keydown.space)="$event.preventDefault()" class="form-control" required="true"
                                        value="" type="text">
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('FirstName').hasError('required') && submitFormKyc.get('FirstName').touched">
                                    <span style="color:red">{{'Firstnameisrequired' | translate}}.</span>
                                </div>
                                <div *ngIf="submitFormKyc.get('FirstName').hasError('pattern') && submitFormKyc.get('FirstName').dirty"
                                    style="color:red">
                                    {{'Pleaseentervalidname' | translate}}.
                                </div>
                                <div *ngIf="submitFormKyc.get('FirstName').hasError('maxlength') && submitFormKyc.get('FirstName').dirty"
                                style="color:red">
                                Maxlength of middle name should be 255.
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-5 control-label">{{'MiddleName' | translate}}:</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <input name="fullName" formControlName="MiddleName" (keypress)="nonumber($event)"
                                        (keydown.space)="$event.preventDefault()" class="form-control" type="text">
                                </div>
                                <div *ngIf="submitFormKyc.get('MiddleName').hasError('pattern') && submitFormKyc.get('MiddleName').dirty"
                                    style="color:red">
                                    {{'Pleaseentervalidname' | translate}}.
                                </div>
                                <div *ngIf="submitFormKyc.get('MiddleName').hasError('maxlength') && submitFormKyc.get('MiddleName').dirty"
                                style="color:red">
                                Maxlength of middle name should be 255.
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-5 control-label">{{'LastName' | translate}}:</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <input name="fullName" formControlName="lastName" (keypress)="nonumber($event)"
                                        (keydown.space)="$event.preventDefault()" class="form-control" type="text">
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('lastName').hasError('required') && submitFormKyc.get('lastName').touched">
                                    <span style="color:red">{{'Lastnameisrequired' | translate}}.</span>
                                </div>
                                <div *ngIf="submitFormKyc.get('lastName').hasError('pattern') && submitFormKyc.get('lastName').dirty"
                                    style="color:red">
                                    {{'Pleaseentervalidname' | translate}}.
                                </div>
                                <div *ngIf="submitFormKyc.get('lastName').hasError('maxlength') && submitFormKyc.get('lastName').dirty"
                                style="color:red">
                                Maxlength of middle name should be 255.
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-5 control-label" style="padding-top: 0;">{{'Gender' | translate}}:</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <select class="form-control" formControlName="gender">
                                        <option disabled value="">{{'SelectGender' | translate}} </option>
                                        <option value="Male"> {{'Male' | translate}}</option>
                                        <option value="Female">{{'Female' | translate}} </option>
                                    </select>
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('gender').hasError('required') && submitFormKyc.get('gender').touched">
                                    <span class="eorr">{{'Genderisrequired' | translate}}.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-5 control-label">{{'Email(Optional)' | translate}}:</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <input formControlName="email" class="form-control" required="false" value=""
                                        type="text">
                                </div>
                                <div *ngIf="submitFormKyc.get('email').hasError('maxlength') && submitFormKyc.get('email').dirty"
                                    style="color:red">
                                    {{'Minlengthofcharactersshouldbe255' | translate}}.
                                </div>
                                <div *ngIf="submitFormKyc.get('email').hasError('pattern') && submitFormKyc.get('email').dirty"
                                    style="color:red">
                                   {{'Pleaseentervalidemailaddress' | translate}}.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class=" col-md-6">
                            <div class="row form-group">
                                <label class="col-md-5 control-label phone">{{'PhoneNumber' | translate}}:</label>
                                <div class="col-md-7 inputGroupContainer" style="padding-left: 5px;">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="phoneNumber2" placeholder=""
                                            formControlName="number" (keypress)="isNumber($event)" maxlength="16"
                                            (keyup)="toCheckSpaceChar()">
                                    </div>
                                    <div
                                        *ngIf="submitFormKyc.get('number').errors && submitFormKyc.get('number').touched || submitFormKyc.get('number').dirty">
                                        <div *ngIf="submitFormKyc.get('number').hasError('required'); else elseBlock"
                                            style="color: red">{{'Phonenumberisrequired' | translate}}.</div>
                                        <ng-template #elseBlock>
                                            <div *ngIf="isValidNumber == false" style="color: red">{{'Pleaseentervalidnumber' | translate}}.
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-5 control-label">{{'Street' | translate}}</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <input name="fullName" formControlName="street"
                                        (keypress)="service.preventSpace($event)" class="form-control" required="true"
                                        value="" type="text">
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('street').hasError('required') && submitFormKyc.get('street').touched">
                                    <span style="color:red">{{'Streetisrequired' | translate}}.</span>
                                </div>
                                <div *ngIf="submitFormKyc.get('street').hasError('maxlength') && submitFormKyc.get('street').dirty"
                                style="color:red">
                                Maxlength of street should be 255.
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-5 control-label">{{'City' | translate}}</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <input name="fullName" formControlName="city" class="form-control" required="true" (keypress)="service.preventSpace($event)"
                                        (keypress)="nonumber($event)" type="text">
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('city').hasError('required') && submitFormKyc.get('city').touched">
                                    <span style="color:red">{{'Cityisrequired' | translate}}.</span>
                                </div>
                                <div *ngIf="submitFormKyc.get('city').hasError('pattern') && submitFormKyc.get('city').dirty"
                                    style="color:red">
                                    {{'Pleaseentervalidcity' | translate}}.
                                </div>
                                <div *ngIf="submitFormKyc.get('city').hasError('maxlength') && submitFormKyc.get('city').dirty"
                                style="color:red">
                                Maxlength of city should be 255.
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-5 control-label" style="padding-top: 0;">{{'Country' | translate}}:</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <select class="form-control" formControlName="country" (change)="onSelect($event)">
                                        <option disabled value=""> {{'SelectCountry' | translate}}</option>
                                        <option value="{{i.id}}" *ngFor="let i of countriesList">{{i.name}} </option>
                                    </select>
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('country').hasError('required') && submitFormKyc.get('country').touched">
                                    <span style="color:red">{{'Countryisrequired' | translate}}.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-5 control-label">{{'Province' | translate}}:</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <select class="form-control" formControlName="province">
                                        <option value="">{{'Select' | translate}}</option>
                                        <option value="{{i.id}}" *ngFor="let i of statelist">{{i.name}} </option>
                                    </select>
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('province').hasError('required') && submitFormKyc.get('province').touched">
                                    <span style="color:red">{{'Provinceisrequired' | translate}}.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class=" col-md-6">
                            <div class="row form-group">
                                <label class="col-md-5 control-label phone">{{'ZipCode' | translate}}:</label>
                                <div class="col-md-7 inputGroupContainer" style="padding-left: 5px;">
                                    <div class="input-group">
                                        <input name="fullName" formControlName="zipCode" class="form-control"
                                            autocomplete="off" (keypress)="isNumber($event)" required="true"
                                            minlength="5" maxlength="6" type="numeric"
                                            (keydown.space)="$event.preventDefault();">
                                    </div>
                                    <div
                                        *ngIf="submitFormKyc.get('zipCode').hasError('required') && submitFormKyc.get('zipCode').touched">
                                        <span style="color:red">{{'Zipcodeisrequired' | translate}}.</span>
                                    </div>
                                    <div *ngIf="submitFormKyc.get('zipCode').hasError('pattern') && submitFormKyc.get('zipCode').dirty"
                                        style="color:red">
                                        {{'Pleaseentervalidzipcode' | translate}}.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6"  *ngIf="language !='th'">
                        <div class="row form-group">
                            <label class="col-md-5 control-label" style="padding-top: 0;">{{'Nationality' | translate}}:</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <select class="form-control" formControlName="nationality"
                                        (change)="onSelects($event)">
                                        <option value="">{{'Selectnationality' | translate}} </option>
                                        <option value="{{i.id}}" *ngFor="let i of nationalitys">{{i.name_en}}
                                        </option>
                                    </select>
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('nationality').hasError('required') && submitFormKyc.get('nationality').touched">
                                    <span class="eorr">{{'Nationalityisrequired' | translate}}.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6"  *ngIf="language =='th'">
                        <div class="row form-group">
                            <label class="col-md-5 control-label" style="padding-top: 0;">{{'Nationality' | translate}}:</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <select class="form-control" formControlName="nationality"
                                        (change)="onSelects($event)">
                                        <option value="">{{'Selectnationality' | translate}} </option>
                                        <option value="{{i.id}}" *ngFor="let i of nationalitys">{{i.name_th}}
                                        </option>
                                    </select>
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('nationality').hasError('required') && submitFormKyc.get('nationality').touched">
                                    <span class="eorr">{{'Nationalityisrequired' | translate}}.</span>
                                </div>
                            </div>
                        </div>
                    </div>



                    
                    <div class=" col-md-6" *ngIf="thaidata!='93'" [hidden]="!thaidata">
                        <div class="row form-group">
                            <label class="col-md-5 control-label">{{'Passport' | translate}}:</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <input name="fullName" formControlName="passPortNationalId"
                                        placeholder="55ABCDEF125125154DSD" class="form-control" type="text">
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('passPortNationalId').hasError('required') && submitFormKyc.get('passPortNationalId').touched">
                                    <span style="color:red">{{'Passportisrequired' | translate}}.</span>
                                </div>
                                <div *ngIf="submitFormKyc.get('passPortNationalId').hasError('maxlength') && submitFormKyc.get('passPortNationalId').dirty" style="color:red">
                                    Maxlength of characters should be 13.
                                </div>
                                <div *ngIf="(submitFormKyc.get('passPortNationalId').hasError('pattern') || submitFormKyc.get('passPortNationalId').hasError('minlength') || submitFormKyc.get('passPortNationalId').hasError('maxlength')) && submitFormKyc.get('passPortNationalId').dirty"
                                    style="color:red">
                                    {{'Pleaseentervalidpassword' | translate}}.

                                </div>
                                <div>
                                    <h6 class="hhNN">55ABCDEF125125154DSD</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6" *ngIf="thaidata =='93'">
                        <div class="row form-group">
                            <label class="col-md-5 control-label">{{'NationalID' | translate}}:</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <input name="fullName" formControlName="passPortNationalId"
                                        placeholder="1252622525251" class="form-control" type="text">
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('passPortNationalId').hasError('required') && submitFormKyc.get('passPortNationalId').touched">
                                    <span style="color:red">{{'Nationalidisrequired' | translate}}.</span>
                                </div>
                                <div *ngIf="submitFormKyc.get('passPortNationalId').hasError('maxlength') && submitFormKyc.get('passPortNationalId').dirty" style="color:red">
                                    Maxlength of characters should be 13.
                                </div>
                                <div *ngIf="submitFormKyc.get('passPortNationalId').hasError('pattern') && submitFormKyc.get('passPortNationalId').dirty"
                                    style="color:red">
                                    {{'Pleaseentervalidnationalid' | translate}}.

                                </div>
                                <div>
                                    <h6 class="hhNN">1252622525251</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6" *ngIf="thaidata!='93'" [hidden]="!thaidata">
                        <div class="row form-group">
                            <label class="col-md-5 control-label" style="padding-top: 0px;">{{'PassportImage' | translate}}:</label>
                            <div class="col-md-4 inputGroupContainer registration-col uplod-div2">
                                <div class="input-group grup">
                                    <input name="fullName" formControlName="NationalidPassportImage"
                                        placeholder="jpg/jpeg/png" class="form-control kyc-full-name" 
                                        type="text" readonly>
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('NationalidPassportImage').hasError('required') && submitFormKyc.get('NationalidPassportImage').touched">
                                    <span style="color:red;">{{'Passportimageisrequired' | translate}}.</span>
                                </div>
                                <div>
                                    <h6 class="hh1"> {{'Allowed' | translate}} (jpg/jpeg/png 2MB)</h6>
                                </div>

                            </div>
                            <div class="col-sm-3">
                                <div class="uplod-btn">
                                    <button class="btn btn-green"> {{'Upload' | translate}}</button>
                                    <input type="file" class="form-control uplod-file" accept="image/*"
                                        (change)="handleFileInputFrontCertificatDBD($event,'nationalId')">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6" *ngIf="thaidata=='93'">
                        <div class="row form-group">
                            <label class="col-md-5 control-label" style="padding-top: 0px;">{{'NationalIDImage' | translate}}:</label>
                            <div class="col-md-4    inputGroupContainer registration-col uplod-div2">
                                <div class="input-group grup">
                                    <input name="fullName" formControlName="NationalidPassportImage"
                                        placeholder="jpg/jpeg/png" class="form-control kyc-full-name" 
                                        type="text" readonly>
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('NationalidPassportImage').hasError('required') && submitFormKyc.get('NationalidPassportImage').touched">
                                    <span style="color:red;">{{'Nationalidimageisrequired' | translate}}.</span>
                                </div>
                                <div>
                                    <h6 class="hh1"> {{'Allowed' | translate}} (jpg/jpeg/png 2MB)</h6>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="uplod-btn">
                                    <button class="btn btn-green"> {{'Upload' | translate}}</button>
                                    <input type="file" class="form-control uplod-file" accept="image/*"
                                        (change)="handleFileInputFrontCertificatDBD($event,'nationalId')">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-5 control-label" style="padding-top: 0px;">{{'Selfie' | translate}}:</label>
                            <div class="col-md-4 inputGroupContainer registration-col uplod-div2">
                                <div class="input-group grup">
                                    <input name="fullName" formControlName="selfi" class="form-control kyc-full-name"
                                        placeholder="jpg/jpeg/png" required="true" type="text" readonly>
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('selfi').hasError('required') && submitFormKyc.get('selfi').touched">
                                    <span style="color:red; ">{{'Selfeimageisrequired' | translate}}.</span>
                                </div>
                                <div>
                                    <h6 class="hh1"> {{'Allowed' | translate}} (jpg/jpeg/png 2MB)</h6>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="uplod-btn">
                                    <button class="btn btn-green"> {{'Upload' | translate}}</button>
                                    <input type="file" class="form-control uplod-file" accept="image/*"
                                        (change)="handleFileInputFrontCertificatDBD($event,'selfiimage')">
                                </div>
                            </div>
                        </div>
                    </div>
               
                    <div class=" col-md-6" *ngIf="language!='th'">
                       
                        <div class="row form-group">
                            <label class="col-md-5 control-label">{{'BankName' | translate}}:</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <select class="form-control" formControlName="bankname">
                                        <option disabled value="">{{'SelectBank' | translate}}</option>
                                        <option value="{{bnk.id}}" *ngFor="let bnk of bank_list">{{bnk?.name_en}} </option>
                                    </select>
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('bankname').hasError('required') && submitFormKyc.get('bankname').touched">
                                    <span class="eorr">{{'BankNameisrequired' | translate}}.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6" *ngIf="language=='th'">
                       
                        <div class="row form-group">
                            <label class="col-md-5 control-label">{{'BankName' | translate}}:</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <select class="form-control" formControlName="bankname">
                                        <option disabled value="">{{'SelectBank' | translate}}</option>
                                        <option value="{{bnk.id}}" *ngFor="let bnk of bank_list">{{bnk?.name_th}} </option>
                                    </select>
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('bankname').hasError('required') && submitFormKyc.get('bankname').touched">
                                    <span class="eorr">{{'BankNameisrequired' | translate}}.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-5 control-label">{{'AccountHolderName' | translate}}:</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <input name="fullName" formControlName="accountholdername" class="form-control"
                                    (keypress)="service.preventSpace($event)" (keypress)="nonumber($event)"
                                        required="true" value="" type="text">
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('accountholdername').hasError('required') && submitFormKyc.get('accountholdername').touched">
                                    <span style="color:red">{{'Accountholdernameisrequired' | translate}}.</span>
                                </div>
                                <div *ngIf="submitFormKyc.get('accountholdername').hasError('maxlength') && submitFormKyc.get('accountholdername').dirty"
                                    style="color:red">
                                   {{'Maxlengthofcharactersshouldbe255' | translate}}.
                                </div>
                                <div *ngIf="submitFormKyc.get('accountholdername').hasError('pattern') && submitFormKyc.get('accountholdername').dirty"
                                    style="color:red">
                                    {{'Pleaseentervalidaccountholdername' | translate}}.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-5 control-label">{{'AccountNumber' | translate}}:</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group">
                                    <input name="fullName" formControlName="accountnumber" (keypress)="isNumber($event)"
                                        class="form-control" required="true" value="" type="text">
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('accountnumber').hasError('required') && submitFormKyc.get('accountnumber').touched">
                                    <span style="color:red">{{'Accountnumberisrequired' | translate}}.</span>
                                </div>
                                <div *ngIf="submitFormKyc.get('accountnumber').hasError('maxlength') && submitFormKyc.get('accountnumber').dirty"
                                    style="color:red">
                                    {{'Maxlengthofnumbershouldbe20' | translate}}.
                                </div>
                                <div *ngIf="submitFormKyc.get('accountnumber').hasError('pattern') && submitFormKyc.get('accountnumber').dirty"
                                    style="color:red">
                                   {{'Pleaseentervalidaccountnumber' | translate}}.
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-5 control-label" style="padding-top: 0px;">{{'Passbook' | translate}}:</label>
                            <div class="col-md-4    inputGroupContainer registration-col uplod-div2">
                                <div class="input-group grup">
                                    <input name="fullName" formControlName="vehicleImage" placeholder="jpg/jpeg/png"
                                        class="form-control kyc-full-name" required="true" type="text" readonly>
                                </div>
                                <div
                                    *ngIf="submitFormKyc.get('vehicleImage').hasError('required') && submitFormKyc.get('vehicleImage').touched">
                                    <span style="color:red; ">{{'Passbookimageisrequired' | translate}}.</span>
                                </div>
                                <div>
                                    <h6 class="hh1"> {{'Allowed' | translate}} (jpg/jpeg/png 2MB)</h6>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="uplod-btn">
                                    <button class="btn btn-green"> {{'Upload' | translate}}</button>
                                    <input type="file" class="form-control uplod-file" accept="image/*"
                                        (change)="handleFileInputFrontCertificatDBD($event,'vehicleimage')">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row form-group">
                            <div class="col-md-5 agency">
                                <div>
                                    <input type="checkbox" checked="" formControlName="agencyChecked"
                                        (change)="agencyCheckBox()">
                                    <label class="cl"> {{'Agency' | translate}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="agencyChecked==true">
                        <div class="row form-group">
                            <div class="col-md-12 ">
                                <div class=" agency2">
                                    <label class="col-md-5">{{'AgencyName' | translate}}: </label>
                                    <div class="col-md-7 inputGroupContainer">
                                        <div class="input-group">
                                            <input name="agencyname" formControlName="agencyname"
                                            (keypress)="service.preventSpace($event)"  class="form-control" value=""
                                                type="text">
                                        </div>
                                        <div
                                            *ngIf="submitFormKyc.get('agencyname').hasError('required') && submitFormKyc.get('agencyname').touched">
                                            <span style="color:red">{{'AgencyNameisrequired' | translate}}.</span>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 btn submit-div">
                        <button type="submit" class="btn btn-primary btn-block btn-flat"
                            [disabled]="!submitFormKyc.valid"  (click)="generate('sale')">{{'Submit' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<div class="modal" id="comanModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modals">
            <div class="modal-header">
                <h2>{{'Add representative' | translate}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <p>{{'Are you sure you want to add this sales representative?' | translate}}</p>
            </div>
         
            <div class="modal-footer" style="display: flex; justify-content: space-evenly;">
                <button type="button" data-dismiss="modal" class="submit"
                    style="background: red;color: #fff;">{{'No' | translate}}</button>
                <button type="button" (click)="modal()" class="submit"
                    style="display: flex; justify-content: space-evenly;border: #638f00;color: #fff;">{{'Yes' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="googleauth" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modals">
            <div class="modal-header">
                <h4 class="modalstyle" style="text-align:center">2 {{'StepVerification' | translate}}</h4>
                <button type="button" class="close" (click)="reset()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-box">
                <div class="ggcode">
                    <p>{{errorMessage}}</p>

                </div>
                <div class="form-group has-feedback codeSpace">
                    <label style="margin-left: 57px;">{{'GoogleAuthenticationCode' | translate}}</label>
                    <div class="otp-field">
                 
                        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent"
                            (keypress)="numberOnly($event)" type="number" style="width:57px; height:57px;"
                            [config]="{length:6}"></ng-otp-input>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4 lognBrn">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!varificationCode"
                            (click)="verify()">Verify</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</div>