<app-header></app-header>
<app-menubar></app-menubar>
<div class="content-wrapper">
    <section class="content footer-div">
        <div class="">
            <div class="">
                <div class="box">
                    <div class="box-header">
                        <h1 style="font-size: 24px;">
                            {{'VIEW RESTAURANT' | translate}}
                        </h1>
                    </div>
                    <div class="row form-group" style="margin-left: 30%">
                    <div class="col-md-3">
                    <button type="button" class="btn btn-success btn-lg" class="approve" >Approve</button>
                    </div>
                     <div class="col-md-3">
                    <button type="button" class="btn btn-danger btn-lg" style="background-color: red" class="approve" >Reject</button>
                    </div>
                     <div class="col-md-3">
                    <button type="button" class="btn btn-success btn-lg" class="approve" routerLink="/restaurant-management" >Back</button>
                    </div>

                    </div>
                     <!-- tab section -->
                     <div class="tab-section">
                        <div class="tab">
                            <button class="tablinks" [ngClass]="tabView == 'companyDetails' ? 'active': ''"
                                (click)="viewTab('companyDetails')">Company Details</button>
                            <button class="tablinks" [ngClass]="tabView == 'restaurentDetails' ? 'active': ''"
                                (click)="viewTab('restaurentDetails')">Restaurant Details</button>
                                <button class="tablinks" [ngClass]="tabView == 'itemDetails' ? 'active': ''"
                                (click)="viewTab('itemDetails')">Item Details</button>
                                 <button class="tablinks" [ngClass]="tabView == 'bankDetails' ? 'active': ''"
                                (click)="viewTab('bankDetails')">Bank Details</button>
                        </div>
                    </div>

                    <div class="box-header  box-hearder-564">
                  <form class="" [formGroup]="form">
                   <div class="row form-group" style="margin-left: 40%">
                           <div class="col-md-3">
                    <button type="button" class="btn btn-success btn-lg" class="approve" routerLink="/edit-restaurant-company-details" >Edit</button>
                    </div>
                    </div>
                            <h3 class="p-3 pl-5">Company Details</h3>
                            <div class="cusine" >
                                <div class="col-md-12" >
                                    <div class="row mb-3">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Company Name</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> Registration Certificate</label>
                                            <span class="col-md-1"> : </span>
                                            <input type="text" class="col-md-6 int form-control" readonly placeholder="jpeg/jpg/png 2 MB"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                            <div class="col-md-2">
                                                <button type="submit" style="margin-top: 19px" class="btn btn-flat cusine btn-flat">{{'Upload' | translate}}</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Registration No.</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> Company Image</label>
                                            <span class="col-md-1"> : </span>
                                            <input type="text" class="col-md-6 int form-control" readonly placeholder="jpeg/jpg/png 2 MB"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                            <div class="col-md-2">
                                                <button type="submit" style="margin-top: 19px" class="btn btn-flat cusine btn-flat">{{'Upload' | translate}}</button>
                                            </div>
                                        </div>
                                       
                                    </div>


                                    <div class="row mb-3">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> FCCI Certificate</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-6 int form-control" readonly placeholder="jpeg/jpg/png 2 MB"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                            <div class="col-md-2">
                                                <button type="submit" style="margin-top: 19px" class="btn btn-flat cusine btn-flat">{{'Upload' | translate}}</button>
                                            </div>
                                        </div>
                                    </div>

                                    <h3 class="p-3 pl-4">Company Address</h3>
                                    <div class="row mb-5">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Street</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> City</label>
                                            <span class="col-md-1"> : </span>
                                            <select name="" id=""class="col-md-8 int form-control">
                                                <option value="">Select City</option>
                                            </select>
                                        </div>
                                       
                                    </div> 
                                     <div class="row mb-5">
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> Country</label>
                                            <span class="col-md-1"> : </span>
                                            <select name="" id=""class="col-md-8 int form-control">
                                                <option value="">Select Country</option>
                                            </select>
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> Province</label>
                                            <span class="col-md-1"> : </span>
                                            <select name="" id=""class="col-md-8 int form-control">
                                                <option value="">Select Province</option>
                                            </select>
                                        </div>
                                       
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Zipcode</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Email ID</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                       
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Phone Number</label>
                                            <span class="col-md-1">:</span>
                                            <select name="" id="" style="height: 41px;" class="col-md-2 int form-control">
                                                <option value="">+91</option>
                                            </select>
                                            <input type="text" class="col-md-6 int form-control"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                       
                                       
                                    </div>

                                    <h3 class="p-3">Company Owner Details</h3>

                                    <div class="row mb-3">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Owner Name</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> Owner Image  </label>
                                            <span class="col-md-1"> : </span>
                                            <input type="text" class="col-md-6 int form-control" readonly placeholder="jpeg/jpg/png 2 MB"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                            <div class="col-md-2">
                                                <button type="submit" style="margin-top: 19px" class="btn btn-flat cusine btn-flat">{{'Upload' | translate}}</button>
                                            </div>
                                        </div>
                                       
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Phone Number</label>
                                            <span class="col-md-1">:</span>
                                            <select name="" id="" style="height: 41px;" class="col-md-2 int form-control">
                                                <option value="">+91</option>
                                            </select>
                                            <input type="text" class="col-md-6 int form-control"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> ID Verification</label>
                                            <span class="col-md-1"> : </span>
                                            <select name="" id=""class="col-md-8 int form-control">
                                                <option value="">Passport</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> ID Image  </label>
                                            <span class="col-md-1"> : </span>
                                            <input type="text" class="col-md-6 int form-control" readonly placeholder="jpeg/jpg/png 2 MB"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                            <div class="col-md-2">
                                                <button type="submit" style="margin-top: 19px" class="btn btn-flat cusine btn-flat">{{'Upload' | translate}}</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3">Passport Number  </label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                       
                                       
                                    </div>

                                </div>
                               
                            </div>
                           
                            <div class="bx mt-4-btn" style="display: flex;justify-content: center;width: 100%;">
                                <button type="submit" class="btn btn-flat cusine btn-flat">{{'NEXT' | translate}}</button>
                                   
                            </div>
                        </form>
                    </div>
                    
                 
                
                 
                </div>
            </div>
        </div>
    </section>
</div>

<footer class="footer-text ">
    <strong> {{'Copyright' | translate}}&copy; 2020 <a href="javascript:; ">{{'FoodDelivery' | translate}}</a></strong> &nbsp;{{'Allrightsreserved' | translate}}

</footer>

