<app-header>
</app-header>
<app-menubar></app-menubar>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
  
    <!-- Main content -->
    <section class="content footer-div">
        <div class="">
            <div class="">
                <div class="box">
                    <div class="box-header">
                        <h1 style="font-size: 24px;">
                            {{'nightChargeManage' | translate}}
                        </h1>
                    </div>
                    <!-- hgghghghg -->
                    <div class="row sndRow">
                        <div class="col-md-3 green-col" style="border-radius: 18px!important">
                            <div class=" has-search">
                                <!-- <input type="text" class="form-control" (keyup.enter)="searchSubmit()" placeholder="{{'Searchbyrolename' | translate}}" maxlength="50"
                                    [(ngModel)]="searchRole" (keyup)="searchRoles($event.target.value)" maxlength="50" style="border-radius: 20px;">
                                <span class="fa fa-search form-control-feedback"></span> -->
                                <select class="form-control">
                                    <option value="">Filter By City</option>             
                                     <option value="">Delhi</option>             
                                     <option value="">Noida</option>             
                                     <option value="">Gurgoan</option>             
                                </select>
                            </div>
                        </div>
                        <div class="col-md-9" >
                                <div style="display: flex; justify-content: flex-end ">
                                    <button type="button" class="btn bg-olive margin" style="margin:10px;background-color: #068000!important;" [routerLink]="['/add-night-charge']">{{'ADD' | translate}}</button>
                                </div>
                        </div>
                    </div>
                    <div class="box-body zui-scroller table-responsive">
                        <table id="example2" class="table zui-table table-bordered table-hover">
                            <thead >
                                <tr class="idMerchant">
                                    <th scope="col">{{'City' | translate}}</th>
                                    <th scope="col">{{'starttime' | translate}}</th>
                                    <th scope="col">{{'endTime' | translate}}</th>
                                    <th scope="col">{{'extraChargeAmount' | translate}}</th>
                                    <th scope="col" style="width: 30%;">{{'Action' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- | paginate : {itemsPerPage:limit, currentPage:page, totalItems:total}:index as i" -->
                                <!-- <tr *ngFor="let data of manageroles | paginate : {itemsPerPage:limit, currentPage:page, totalItems:total}: index as i">
                                    <th scope="row">{{data.id}}</th>
                                    
                                    <td *ngIf="data?.is_active !=true">Inactive</td> -->
                                    <tr>
                                        <td>Delhi</td>
                                        <td>11:00 PM </td>
                                        <td>5:00 AM</td>
                                        <td>10 INR</td>
                                       
                                    <td class="action">
                                        <button class="submit" routerLink = "/edit-night-charge">{{'EDIT' | translate}}</button>
                                        
                                        
                                        <button type="button" class="block-btns4" >{{'DELETE' | translate}}</button>
                                        <!-- <button class="detail" (click)="deleteid(data?.id)" data-toggle="modal" *ngIf="(data?.name!='Driver') && (data?.name!='Sales Representative') && (data?.name!='Merchant') && (data?.name!='Customer')&& (data?.name!='Manager')">{{'Delete' | translate}}</button> -->
                                    </td>
                            </tbody>
                        </table>
                        <div class="dnf">
                            <!-- <h3 *ngIf="manageroles?.length==0">Data not found!</h3> -->
                        </div>
                    </div>
                    <!-- <div class="pageination">
                        <pagination-controls (pageChange)="pagination($event)" style="float:right;" >
                        </pagination-controls>
                    </div> -->
                </div>
            </div>
        </div> 
    </section>
</div>
<div class="footer-section">
    <app-footer></app-footer>
</div>