/* .mmmmm{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
} */

.deliveryUpto{
    display: flex;
    justify-content: space-evenly;
}
.cusmanage-box {
    padding-bottom: 20px;
}
p.active-p {
    position: absolute;
    right: 35px;
    top: 10px;
}