
    <app-header></app-header>
    <app-menubar></app-menubar>
<div>
  <div class="content-wrapper">
    <section class="content footer-div">

<div class="topsp">

    <div class="login-box">
        <div class="change-password"> <h4  >Change Password</h4></div>
      <!-- /.login-logo -->
      <div class="login-box-body change-box">
    
        <form   [formGroup]="changePasswordForm">
          <label>Old Password</label>
          <div class="form-group has-feedback input-eyes" id="myInput">
              
            <input type="{{type}}" class="form-control"  formControlName="oldPassword">
           
            <a class="eye-icon" (click)="toggleShow()">
              <i *ngIf="show == false" class="fa fa-eye-slash"></i>
              <i *ngIf="show == true" class="fa fa-eye"></i>
         </a>
         <div
         *ngIf="changePasswordForm.get('oldPassword').hasError('required') && changePasswordForm.get('oldPassword').touched">
         <span style="color:red">*Old Password is required.</span></div>
     </div>
  
   
    
    <div
        *ngIf="changePasswordForm.get('oldPassword').hasError('minlength') && changePasswordForm.get('oldPassword').dirty">
    </div>
    <label>New Password</label>
          <div class="form-group has-feedback input-eyes" id="myInput" >
            
            <input type="{{type1}}" class="form-control "  formControlName="newPassword">
            <a class="eye-icon" (click)="toggleShow1()">
              <i *ngIf="show1 == false" class="fa fa-eye-slash"></i>
              <i *ngIf="show1 == true" class="fa fa-eye"></i>
         </a>
         <div
         *ngIf="changePasswordForm.get('newPassword').hasError('required') && changePasswordForm.get('newPassword').touched">
         <span style="color:red">*New Password is required</span></div>
         <div
         *ngIf="changePasswordForm.get('newPassword').hasError('pattern') && changePasswordForm.get('newPassword').dirty">
         <span style="color:red"> *Password must contain characters, digits and one special character(Min character-8).</span>
     </div>
           
           </div>
          
        
           <label>Confirm Password</label>
          <div class="form-group has-feedback input-eyes" id="myInput">
              <input type="{{type2}}" class="form-control"  formControlName="confirmPassword">
              <a class="eye-icon" (click)="toggleShow2()">
                <i *ngIf="show2 == false" class="fa fa-eye-slash"></i>
                <i *ngIf="show2 == true" class="fa fa-eye"></i>
           </a>
           <div
           *ngIf="changePasswordForm.get('confirmPassword').hasError('required') && changePasswordForm.get('confirmPassword').touched">
           <span style="color:red">*Confirm Password is required</span></div>
       <div  *ngIf="(changePasswordForm.value.newPassword != changePasswordForm.value.confirmPassword) && changePasswordForm.get('confirmPassword').dirty">
           <span style="color:red">*Confirm password & new password should be same.</span></div>
            </div>
          
         
          <div class="row">
               <!-- /.col -->
            <div class="col-xs-4 lognBrn">
              <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!changePasswordForm.valid" (click)="submit()">Submit</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
    

    
      </div>
      <!-- /.login-box-body -->
    </div>
    
    </div>
  </section>

</div>
<app-footer></app-footer>
</div>
        <!-- /.login-box -->
        
        <!-- jQuery 3 -->
      
       