.cusine {
    margin-bottom: 20px;
}

.error {
    float: right;
}

.int {
    width: 100%;
    height: 41px;
    max-width: 453px;
    ;
}

.textareaa {
    width: 100%;
    max-width: 453px;
}

.box-header h1 {
    margin: 0;
}

.btn-flat{
    background: green;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin-top: 35px;
    padding: 7px;
    font-family: "Adelle";
    font-weight: bold;
    height: 40px;
    width: 100%;
    max-width: 115px;
}
.box-hearder-564{
    width: 100%;
    max-width: 98%;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    padding: 15px;
    margin: 10px;
    height: 510px;
    
}
.btn-file{
    position: absolute;
    right: 10%;
    bottom:-45%;
   
}

.file{
    width: 18%;
    height: 30px;
    position: absolute;
    right: 10%;
    z-index: 9999;
    opacity: 0;
}

button.btn.btn-primary.btn-block.btn-flat {
    background: green;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 7px;
    font-family: "Adelle";
    font-weight: bold;
    height: 44px;
    width: 100%;
    max-width: 135px;
}

.border1{
    border: 1px solid #817c7c80;
    width: 70%;
    margin: auto;
    margin-bottom: 20px
}

img{
    width: 100%;
    height: 100%;
}