<app-header></app-header>
<app-menubar></app-menubar>

<div class="content-wrapper">
    <div class="box-header button-text-div">
        <h1 class="mt-0 mb-0" style="font-size: 24px;">
            {{'SalesRepresentativeDetails' | translate}}

            </h1>
            <div class="backbutton" [routerLink]="['/manage-sale']">
                <button type="button" class="bkbtn"> {{'Back' | translate}}</button>
            </div>
        </div>
        
    <div class="standrd">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="userProfile" *ngIf="selfie">
                    <img   [src]="selfie"
                    data-toggle="modal" data-target="#imageModal5" class="dumyImg">
                </div>
                <div class="userProfile" *ngIf="!selfie" >
                    <img class="dumyImg" src="assets/adminLTE/dist/img/userprofile.png">
                </div>
              
            </div>
            <div class="col-md-10" style="margin-left: -10%;margin-top: -34px;">
                <section class="merchant container">
                    <div class="row custom-width">
                        <div class="col-md-2">
                            <label> {{'RepresentativeID' | translate}}:</label>
                        </div>
                        <div class="col-md-2">
                            <p>{{saledata?.id || '--'}} </p>
                        </div>
                        <div class="col-md-2">
                            <label> {{'Phone' | translate}}:</label>
                        </div>
                        <div class="col-md-2">
                            <p type="text">
                                {{saledata?.mobile || '--' }}</p>
                        </div>
                        <div class="col-md-2">
                            <label> {{'Nationality' | translate}}:</label>
                        </div>
                        <div class="col-md-2">
                            <p>{{sales_details?.r_nationality || '--'}}</p>
                        </div>
                    </div>
                    <div class="row custom-width">
                        <div class="col-md-2">
                            <label>  {{'Address' | translate}}:</label>
                        </div>
                        <div class="col-md-2">
                            <p class="table-width" title="{{saved_addresses?.street}},{{saved_addresses?.province}},{{saved_addresses?.city}},{{saved_addresses?.zip_code}}">{{saved_addresses?.street}} {{saved_addresses?.province}} {{saved_addresses?.city}} {{saved_addresses?.zip_code}}</p>
                        </div>
                        <div class="col-md-2">
                            <label>  {{'Name' | translate}}:</label>
                        </div>
                        <div class="col-md-2">
                            <p class="table-width" title="{{saledata?.first_name || '--'}}  {{saledata?.middle_name}}  {{saledata?.last_name}}">{{saledata?.first_name || '--'}}  {{saledata?.middle_name}}  {{saledata?.last_name}}</p>
                        </div>
                        <div class="col-md-2">
                            <label> {{'Gender' | translate}}:</label>
                        </div>
                        <div class="col-md-2">
                            <p>{{saledata?.gender || '--'}}</p>
                        </div>
                        <div class="col-md-2" *ngIf="sales_details?.nationality == '93'">
                            <label> {{'NationalID' | translate}}:</label>
                        </div>
                        <div class="col-md-2" *ngIf="sales_details?.nationality == '93'">
                            <p>{{sales_details?.national_id || '--'}}</p>
                        </div>
                        <div class="col-md-2" *ngIf="sales_details?.nationality != '93'">
                            <label> {{'Passport' | translate}}:</label>
                        </div>
                        <div class="col-md-2" *ngIf="sales_details?.nationality != '93'">
                            <p>{{sales_details?.passport_id || '--'}}</p>
                        </div>
                        <div class="col-md-2">
                            <label>  {{'ReferenceCode' | translate}}:</label>
                        </div>
                        <div class="col-md-2">
                            <p class="table-width" title="{{saledata?.reference_code}}">{{saledata?.reference_code}}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <section>
            <div class="tabs tabs-style-tzoid ">
                <nav>
                    <ul id="myul">
                        <li><a class="active" (click)="makeActive('1a')" [ngClass]="{'active': (selectedTab == '1a') }" href="#1a" data-toggle="tab"><span>{{'BankAccount'| translate }}</span></a></li>
                        <li><a (click)="makeActive('2a')" [ngClass]="{'active': (selectedTab == '2a') }" href="#2a" data-toggle="tab"><span>{{'TotalBusinessReference'| translate }}</span></a></li>
                        <li><a (click)="makeActive('3a')" [ngClass]="{'active': (selectedTab == '3a') }" href="#3a" data-toggle="tab"><span>{{'Earnings'| translate }}</span></a></li>
                    </ul>
                </nav>
                <div class="tab-content clearfix steps" style="border: solid;">
                    <div class="tab-pane active" id="1a">
                        <div class="box">
                            <!-- /.box-header -->
                            <div class="box-body table-responsive">
                                <table id="example1" class="table table-bordered table-striped mt-3">
                                    <thead>
                                        <tr>
                                            <th>{{'BankName'| translate }}</th>
                                            <th>{{'BankHolderName'| translate }}</th>
                                            <th>{{'BankAccountNumber'| translate }}</th>
                                            <th> {{'Status'| translate }}</th>
                                            <th>{{'Passbook'| translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{sales_bank?.r_bank_name || '--'}}</td>
                                            <td class="table-width" title="{{sales_bank?.account_holder_name || '--'}}">{{sales_bank?.account_holder_name || '--'}}</td>
                                            <td class="table-width">{{sales_bank?.account_number || '--'}}</td>
                                            <td *ngIf="sales_bank?.is_active == true">Active</td>
                                            <td *ngIf="sales_bank?.is_active != true">Inactive</td>
                                            <td>
                                                <button class="submit" data-toggle="modal" data-target="#myModal">{{'View'| translate }}</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2 *ngIf="sales_bank?.length == 0" style="text-align:center;">{{'Datanotfound!'| translate }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="2a">
                        <div class="box">
                            <!-- /.box-header -->
                            <div class="box-body table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>{{'Merchant ID' | translate }}</th>
                                            <th>{{'BusinessName' | translate }}</th>
                                            <th>{{'email' | translate }}</th>
                                            <th>{{'Phone' | translate }}</th>
                                            <th>{{'CreatedBy' | translate }}</th>
                                            <th>{{'CreatedAt' | translate }}</th>
                                            <th>{{'Status' | translate }}</th>
                                            <th>{{'KYCStatus' | translate }}</th>
                                            <th>{{'KYCSubmitDate' | translate }}</th>
                                            <th>{{'Approved/RejectedBy' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let item of referenceData;let i = index">
                                        <td>{{item?.id}}</td>
                                        <td>{{item?.business_name || '--'}}</td>
                                        <td>{{item?.email || '--'}}</td>
                                        <td>{{item?.mobile || '--'}}</td>
                                        <td>{{item?.created_by || '--'}}</td>
                                        <td>{{item?.created_at | date:'medium'}}</td>
                                        <td *ngIf="item.is_active == true">Active</td>
                                        <td *ngIf="item.is_active != true">Inactive</td>
                                        <td>{{item?.kyc_status || '--'}}</td>
                                        <td>{{item?.kyc_submit_date || '--'}}</td>
                                        <td>{{item?.approved_or_rejected_by || '--'}}</td>
                                    </tbody>
                                </table>
                                <h2 *ngIf="referenceData?.length == 0" style="text-align:center;">{{'Datanotfound!'| translate }}</h2>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
               
                    <div class="tab-pane" id="3a">
                        <div class="upper_Table">
                            <label for="">{{'TotalReferences' | translate }}: {{earning?.total_reference || '0'}}</label>
                            <label for="">{{'TotalEarning' | translate }}: {{(earning?.total_earnings | number:'.2') || '0.00'}}</label>
                            <label>{{'PendingPayouts' | translate }}: {{earning?.pending_payouts || '0'}} </label>
                        </div>
                        <div class="box">
                            <!-- /.box-header -->
                            <div class="box-body table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>{{'Sr No' | translate }}</th>
                                            <th>{{'BusinessID' | translate }}</th>
                                            <th>{{'BusinessName' | translate }}</th>
                                            <th>{{'PaymentAmount' | translate }}</th>
                                            <th>{{'PaymentStatus' | translate }}</th>
                                               </tr>
                                    </thead>
                                    <tbody *ngFor="let item of data,let i= index" >
                                        <td>{{i+1}}</td>
                                        <td>{{item?.business_id}}</td>
                                        <td>{{item?.business_name || '--'}}</td>
                                        <td>{{item?.amount}}</td>
                                        <td>{{item?.status}}</td>
                                    </tbody>
                                </table>
                                <h2 *ngIf="data?.length == 0" style="text-align:center;">{{'Datanotfound!'| translate }}</h2>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <div class="tab-pane" id="4a">
                        <div class="box">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="row">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of orderlistdata">
                                                <td>{{data?.order_id ||'--'}}</td>
                                                <td>{{data?.created_at ||'--' | date : 'dd-MM-yy'}}</td>
                                                <td>{{data?.name ||'--'}}</td>
                                                <td>{{data?.place_user?.email ||'--'}}</td>
                                                <td>{{data?.land_mark ||'--'}}</td>
                                                <td>{{data?.order_value ||'--'}}</td>
                                                <td>{{data?.order_status ||'--'}}</td>
                                                <td>
                                                    <button class="custom-View">{{'View' | translate}}</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /content -->
            </div>
        </section>
        <section>
        </section>
    </div>
</div>
<!-- passbook The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content passbook">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{'BankPassbook'| translate}}</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <img src="{{sales_bank?.passbook}}" style="width: 100%;height: 314px;">
            </div>
            <!-- Modal footer -->
            <div class="modal-footer foot">
                <button type="button" class="submit" data-dismiss="modal">{{'OK' | translate}}</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="imageModal5" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-image">
                <img src="{{selfie}}">
            </div>
        </div>
    </div>
</div>