<app-header></app-header>
<app-menubar></app-menubar>
<div class="content-wrapper">
    <section class="content footer-div" *ngIf="values=='banner-text'">
        <div class=" setingTop">
            <div class="box-header">
                <h1 style="font-size: 24px;">
                      {{'EditBannerText' | translate}}

                </h1>
            </div>
            <div class="" style="display: flex;justify-content: center;">
                <form class="" [formGroup]="bannerForm">
                    <div>
                        <div class="cusine">
                            <div class="col-md-12" *ngIf="language=='th'">
                                <div class="row">
                                    <label class="col-md-2">{{'Language' | translate}}</label>
                                    <p class="col-md-10 int form-control" readonly>Thai</p>

                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="row" style="margin-top: 20px;">
                                    <label class="col-md-2">{{'Title' | translate}}:</label>
                                    <input type="text" class="col-md-10 int form-control" formControlName="bannerTitle"  (keypress)="service.preventSpace($event)"  required="true">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 cusine mt-3">
                            <div class="row">
                                <label class="col-md-2">{{'Description' | translate}}:</label>
                               <div class="col-md-10 p-0">
                                <ck-editor id="12b" language="en" formControlName="bannerDescription" [fullPage]="true" required="true">
                                </ck-editor>
                               </div>
                            </div>

                        </div>
                    </div>

                    <div class="bx mt-4-btn" style="display: flex;justify-content: space-evenly;;width: 100%;">
                        <button type="submit" class="btn  btn-flat cusine btn-flat" [routerLink]="['/partner-with-us']"
                            style="background-color:#fd1b00">{{'Cancel' | translate}}</button>
                        <button type="submit" class="btn  btn-flat cusine btn-flat" [disabled]="!bannerForm.valid"
                            (click)="generate('banner')">{{'Update' | translate}}</button>

                    </div>

                </form>
            </div>
        </div>





    </section>
    <section class="content footer-div" *ngIf="values=='Partner-with-us-from-text'">
        <div class=" setingTop">
            <div class="box-header">
                <h1 style="font-size: 24px;">
                    {{'Partnerwithusfromtext' | translate}}

                </h1>
            </div>
            <div class="" style="display: flex;justify-content: center;">
                <form class="" [formGroup]="partnerForm">
                    <div>
                        <div class="cusine">
                            <div class="col-md-12" *ngIf="language=='th'">
                                <div class="row">
                                    <label class="col-md-2">{{'Language' | translate}}</label>
                                    <p class="col-md-10 int form-control" readonly>Thai</p>

                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="row" style="margin-top: 20px;">
                                    <label class="col-md-2">{{'Title' | translate}}:</label>
                                    <input type="text" class="col-md-10 int form-control" formControlName="bannerTitle"  (keypress)="service.preventSpace($event)"  required="true">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 cusine mt-3">
                            <div class="row">
                                <label class="col-md-2">{{'Description' | translate}}:</label>
                                <div class="col-md-10 p-0">
                                    <ck-editor id="12b" language="en" formControlName="bannerDescription" [fullPage]="true" required="true">
                                    </ck-editor>
                                </div>
                             
                            </div>

                        </div>
                    </div>
                    
                    <div class="bx mt-4-btn" style="display: flex;justify-content: space-evenly;;width: 100%;">
                        <button type="submit" class="btn  btn-flat cusine btn-flat" [routerLink]="['/partner-with-us']"
                            style="background-color:#fd1b00">{{'Cancel' | translate}}</button>
                        <button type="submit" class="btn  btn-flat cusine btn-flat" [disabled]="!partnerForm.valid"
                        (click)="generate('partnerWith')">{{'Update' | translate}}</button>

                    </div>

                </form>
            </div>
        </div>





    </section>
</div>
<footer class="footer-text">
    
    <strong>{{'Copyright'| translate}} &copy; 2020 <a href="javascript:;">{{'Food Delivery'| translate}}</a>.</strong> &nbsp;{{'Allrightsreserved'| translate}}

</footer>

<div class="modal" id="googleauth" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modals">
            <div class="modal-header">
                <h4 class="modalstyle" style="text-align:center">2 {{'StepVerification' | translate}}</h4>
                <button type="button" class="close" (click)="reset()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-box">
                <div class="ggcode">
                    <p>{{errorMessage}}</p>

                </div>
                <div class="form-group has-feedback codeSpace">
                    <label style="margin-left: 57px;">{{'GoogleAuthenticationCode' | translate}}</label>
                    <div class="otp-field">
                      
                        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent"
                            (keypress)="numberOnly($event)" type="number" style="width:57px; height:57px;"
                            [config]="{length:6}"></ng-otp-input>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4 lognBrn">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!varificationCode"
                            (click)="verify()">{{'Verify' | translate}}</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</div>