<app-header>
</app-header>
<app-menubar></app-menubar>
<div>
    <div class="content-wrapper">
        <section class="content footer-div">
            <div class="box-header">
                <h3 class="mt-0 mb-0">{{'Add' | translate}}</h3>
            </div>
            <form class=" custom-Form" [formGroup]="addStaffForm" style="    background-color: #f5f5f5; border: 1px solid #e3e3e3;    padding: 15px;
        margin: 10px">
                <div class="row">
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-3 control-label">{{'FirstName' | translate}}:</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <input id="addressLine2" maxlength="260" name="lastName"
                                        formControlName="firstName" (keypress)="service.checkSpace($event)"
                                        class="form-control" required="true" value="" type="text"></div>
                                <div
                                    *ngIf="addStaffForm.get('firstName').hasError('required') && addStaffForm.get('firstName').touched">
                                    <span style="color:red">First name is required.</span></div>
                                <div *ngIf="addStaffForm.get('firstName').hasError('maxlength') && addStaffForm.get('firstName').dirty"
                                    style="color:red">
                                    Maxlength of first name should be 255.
                                </div>
                                <div *ngIf="addStaffForm.get('firstName').hasError('pattern') && addStaffForm.get('firstName').dirty"
                                    style="color:red">
                                    Please don't use number and special characters.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-3 control-label">{{'MiddleName' | translate}}:</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><input id="addressLine2" maxlength="260" name="middleName"
                                        formControlName="middleName" (keypress)="service.checkSpace($event)"
                                        class="form-control" value="" type="text"></div>
                                <div *ngIf="addStaffForm.get('middleName').hasError('maxlength') && addStaffForm.get('middleName').dirty"
                                    style="color:red">
                                    Maxlength of middle name should be 255.
                                </div>
                                <div *ngIf="addStaffForm.get('middleName').hasError('pattern') && addStaffForm.get('middleName').dirty"
                                    style="color:red">
                                    Please don't use number and special characters.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-3 control-label">{{'LastName' | translate}}:</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><input id="addressLine2" maxlength="260" name="lastName"
                                        formControlName="lastName" (keypress)="service.checkSpace($event)"
                                        class="form-control" required="true" value="" type="text"></div>
                                <div
                                    *ngIf="addStaffForm.get('lastName').hasError('required') && addStaffForm.get('lastName').touched">
                                    <span style="color:red">Last name is required.</span></div>
                                <div *ngIf="addStaffForm.get('lastName').hasError('maxlength') && addStaffForm.get('lastName').dirty"
                                    style="color:red">
                                    Maxlength of last name should be 255.
                                </div>
                                <div *ngIf="addStaffForm.get('lastName').hasError('pattern') && addStaffForm.get('lastName').dirty"
                                    style="color:red">
                                    Please don't use number and special characters.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-3 control-label"
                                for="mobile_number">{{'ContactNumber' | translate}}:</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="intel" (click)="toCheckSpaceChar()" style="width: 100%;">

                                    <input type="text" class="form-control" placeholder="" id="phoneNumber"
                                        (keypress)="isNumber($event)" formControlName="number" maxlength="20"
                                        (keyup)="toCheckSpaceChar()">
                                    <div
                                        *ngIf="addStaffForm.get('number').errors && addStaffForm.get('number').enter || addStaffForm.get('number').dirty">
                                        <div *ngIf="addStaffForm.get('number').hasError('required'); else elseBlock"
                                            style="color: red">Phone number is required.</div>
                                        <ng-template #elseBlock>
                                            <div *ngIf="isValidNumber == false" style="color: red">Please enter valid
                                                number.
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-3 control-label">{{'email' | translate}}:</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group"><input id="state" name="state" formControlName="email"
                                        class="form-control" required="true" value="" type="text"
                                        (keydown.space)="$event.preventDefault();"></div>
                                <div
                                    *ngIf="addStaffForm.get('email').hasError('required') && addStaffForm.get('email').touched">
                                    <span style="color:red">Email is required.</span></div>
                                <div *ngIf="addStaffForm.get('email').hasError('maxlength') && addStaffForm.get('email').dirty"
                                    style="color:red">
                                    Email maxlength should be 255.
                                </div>
                                <div *ngIf="addStaffForm.get('email').hasError('pattern') && addStaffForm.get('email').dirty"
                                    style="color:red">
                                    Please enter valid email id.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-3 control-label"
                                style="padding-top: 0;">{{'Role' | translate}}:</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <select class="form-control select-kyc" formControlName="role"
                                        (change)="onSelect($event.target.value)">
                                        <option value=""> {{'SelectRole' | translate}}</option>
                                        <option value="{{roles?.id}}" *ngFor="let roles of manageStaffroles">
                                            {{roles?.name}}
                                        </option>
                                    </select>
                                </div>
                                <div
                                    *ngIf="addStaffForm.get('role').hasError('required') && addStaffForm.get('role').touched">
                                    <span style="color:red">Role is required.</span></div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="row form-group">
                            <label class="col-md-3 control-label"
                                style="padding-top: 0;">{{'Gender' | translate}}:</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <select class="form-control select-kyc gender-select" formControlName="gender">
                                        <option value=""> {{'SelectGender' | translate}}</option>
                                        <option value="Male"> {{'Male' | translate}}</option>
                                        <option value="Female"> {{'Female' | translate}}</option>

                                    </select>
                                </div>
                                <div
                                    *ngIf="addStaffForm.get('gender').hasError('required') && addStaffForm.get('gender').touched">
                                    <span style="color:red">Gender is required.</span></div>


                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 btn submit-div"
                        style="display: flex;box-shadow: none;justify-content: center;">
                        <button type="submit" class="btn btn-primary btn-block btn-flat"
                            [disabled]="!addStaffForm.valid"
                            (click)="generate('addStaff')">{{'Submit' | translate}}</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <app-footer></app-footer>
</div>


<!-- -------------------------------------Google auth modal---------------- -->
<div class="modal" id="googleauth" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modals">
            <div class="modal-header">
                <h4 class="modalstyle" style="text-align:center">2 {{'StepVerification' | translate}}</h4>
                <button type="button" class="close" (click)="reset()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-box">
                <div class="ggcode">
                    <p>{{errorMessage}}</p>

                </div>

                <div class="form-group has-feedback codeSpace">
                    <label style="margin-left: 57px;">{{'GoogleAuthenticationCode' | translate}}</label>
                    <div class="otp-field">
                        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent"
                            style="width:57px; height:57px;" [config]="{length:6}" (keypress)="numberOnly($event)"
                            type="number"></ng-otp-input>

                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4 lognBrn">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!varificationCode"
                            (click)="verify()">{{'Verify' | translate}}</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</div>