<app-header></app-header>
<app-menubar></app-menubar>
<div class="content-wrapper">
    <section class="content footer-div">
        <div class="">
            <div class="">
                <div class="box">
                    <div class="box-header">
                        <h1 style="font-size: 24px;">
                          Edit Restaurant
                        </h1>
                    </div>

                     <!-- tab section -->
                     <div class="tab-section">
                        <div class="tab">
                            <button class="tablinks" [ngClass]="tabView == 'companyDetails' ? 'active': ''"
                                (click)="viewTab('companyDetails')">Company Details</button>
                            <button class="tablinks" [ngClass]="tabView == 'restaurentDetails' ? 'active': ''"
                                (click)="viewTab('restaurentDetails')">Restaurant Details</button>
                                <button class="tablinks" [ngClass]="tabView == 'itemDetails' ? 'active': ''"
                                (click)="viewTab('itemDetails')">Item Details</button>
                                 <button class="tablinks" [ngClass]="tabView == 'bankDetails' ? 'active': ''"
                                (click)="viewTab('bankDetails')">Bank Details</button>
                        </div>
                    </div>

                    <div class="box-header  box-hearder-564">
                        <form class="" [formGroup]="form">
                            <h3 class="p-3 pl-5">Company Details</h3>
                            <div class="cusine" >
                                <div class="col-md-12" >
                                    <div class="row mb-3">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Company Name</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control" placeholder="Dominoz Pizza"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> Registration Certificate</label>
                                            <span class="col-md-1"> : </span>
                                            <input type="text" class="col-md-6 int form-control" readonly placeholder="https://d1icd6shlvmxi6.cloudfront.net/gsc/NXDWA5/c3/7e/69/c37e6920d6714172a8cc85db3b73ecff/image1.png?token=5de5d74ae6950179e283be9b9b8beb2f7c89b3a56c606dd1c580ece8e39f49b6"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                            <div class="col-md-2">
                                                <button type="submit" style="margin-top: 19px" class="btn btn-flat cusine btn-flat">{{'Upload' | translate}}</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Registration No.</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control" placeholder="HDU73Y673Y637Y"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> Company Image</label>
                                            <span class="col-md-1"> : </span>
                                            <input type="text" class="col-md-6 int form-control" readonly placeholder="https://d1icd6shlvmxi6.cloudfront.net/gsc/NXDWA5/c3/7e/69/c37e6920d6714172a8cc85db3b73ecff/image1.png?token=5de5d74ae6950179e283be9b9b8beb2f7c89b3a56c606dd1c580ece8e39f49b6"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                            <div class="col-md-2">
                                                <button type="submit" style="margin-top: 19px" class="btn btn-flat cusine btn-flat">{{'Upload' | translate}}</button>
                                            </div>
                                        </div>
                                       
                                    </div>


                                    <div class="row mb-3">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> FCCI Certificate</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-6 int form-control" readonly placeholder="https://d1icd6shlvmxi6.cloudfront.net/gsc/NXDWA5/c3/7e/69/c37e6920d6714172a8cc85db3b73ecff/image1.png?token=5de5d74ae6950179e283be9b9b8beb2f7c89b3a56c606dd1c580ece8e39f49b6"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                            <div class="col-md-2">
                                                <button type="submit" style="margin-top: 19px" class="btn btn-flat cusine btn-flat">{{'Upload' | translate}}</button>
                                            </div>
                                        </div>
                                    </div>

                                    <h3 class="p-3 pl-4">Company Address</h3>
                                    <div class="row mb-5">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Street</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control" placeholder="D-115 okhla phase 1"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> City</label>
                                            <span class="col-md-1"> : </span>
                                            <select name="" id=""class="col-md-8 int form-control">
                                                <option value="">Select City</option>
                                                <option value="" selected> Rampur</option>
                                            </select>
                                        </div>
                                       
                                    </div> 
                                     <div class="row mb-5">
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> Country</label>
                                            <span class="col-md-1"> : </span>
                                            <select name="" id=""class="col-md-8 int form-control">
                                                <option value="">Select Country</option>
                                            </select>
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> Province</label>
                                            <span class="col-md-1"> : </span>
                                            <select name="" id=""class="col-md-8 int form-control">
                                                <option value="">Select Province</option>
                                            </select>
                                        </div>
                                       
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Zipcode</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control" placeholder="110020"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Email ID</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control" placeholder="nishtha@mobiloitte.com"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                       
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Phone Number</label>
                                            <span class="col-md-1">:</span>
                                            <select name="" id="" style="height: 41px;" class="col-md-2 int form-control">
                                                <option value="">+91</option>
                                            </select>
                                            <input type="text" class="col-md-6 int form-control" placeholder="985874857"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                       
                                       
                                    </div>

                                    <h3 class="p-3">Company Owner Details</h3>

                                    <div class="row mb-3">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Owner Name</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control" placeholder="Nishtha"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> Owner Image  </label>
                                            <span class="col-md-1"> : </span>
                                            <input type="text" class="col-md-6 int form-control" readonly placeholder="https://d1icd6shlvmxi6.cloudfront.net/gsc/NXDWA5/c3/7e/69/c37e6920d6714172a8cc85db3b73ecff/image1.png?token=5de5d74ae6950179e283be9b9b8beb2f7c89b3a56c606dd1c580ece8e39f49b6"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                            <div class="col-md-2">
                                                <button type="submit" style="margin-top: 19px" class="btn btn-flat cusine btn-flat">{{'Upload' | translate}}</button>
                                            </div>
                                        </div>
                                       
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3"> Phone Number</label>
                                            <span class="col-md-1">:</span>
                                            <select name="" id="" style="height: 41px;" class="col-md-2 int form-control">
                                                <option value="">+91</option>
                                            </select>
                                            <input type="text" class="col-md-6 int form-control" placeholder="968596856858"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> ID Verification</label>
                                            <span class="col-md-1"> : </span>
                                            <select name="" id=""class="col-md-8 int form-control">
                                                <option value="">Passport</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div  class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3 text-nowrap"> ID Image  </label>
                                            <span class="col-md-1"> : </span>
                                            <input type="text" class="col-md-6 int form-control" readonly placeholder="https://d1icd6shlvmxi6.cloudfront.net/gsc/NXDWA5/c3/7e/69/c37e6920d6714172a8cc85db3b73ecff/image1.png?token=5de5d74ae6950179e283be9b9b8beb2f7c89b3a56c606dd1c580ece8e39f49b6"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                            <div class="col-md-2">
                                                <button type="submit" style="margin-top: 19px" class="btn btn-flat cusine btn-flat">{{'Upload' | translate}}</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-flex align-items-center">
                                            <label class="col-md-3">Passport Number  </label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="col-md-8 int form-control" placeholder="HFDU3YR78347R8"
                                            (keypress)="service.preventSpace($event)" formControlName="category">
                                        </div>
                                       
                                       
                                    </div>

                                </div>
                               
                            </div>
                           
                            <div class="bx mt-4-btn" style="display: flex;justify-content: center;width: 100%;">
                                <button type="submit" routerLink = "/view-company-details" class="btn btn-flat cusine btn-flat">{{'Update' | translate}}</button>
                                <button type="submit" routerLink = "/view-company-details" class="btn btn-flat cusine btn-flat ml-3">{{'Cancel' | translate}}</button>
 
                            </div>
                        </form>
                    </div>
                    
                 
                
                 
                </div>
            </div>
        </div>
    </section>
</div>

<footer class="footer-text ">
    <strong> {{'Copyright' | translate}}&copy; 2020 <a href="javascript:; ">{{'FoodDelivery' | translate}}</a></strong> &nbsp;{{'Allrightsreserved' | translate}}

</footer>

