<app-header></app-header>
<app-menubar></app-menubar>
<div >
  <div class="content-wrapper">
    <section class="content footer-div">
        <div class=" setingTop">
            <div class="pl-3">
                <h1 style="font-size: 24px;">
                    {{'badweatherChargemanagement' | translate}}
                </h1>
            </div>
           


            <div class="box-header  box-hearder-564">
                <form class="" >
                    <div class="cusine" >
                        <div class="text-center p-4">
                            <p> Rampur,  Hapur,  Amroha, Bareilly </p>
                            <p> Zone 1,  Zone 2,  Zone 3,  Zone 4 </p>
                        </div>
                     
                        <div class="justify-content-center btn-div pt-1 pr-4">
                            <button type="button" routerLink = "/edit-bad-weather-charge" class="btn bg-olive mr-3" >{{'CHANGE' | translate}}</button>                     
                        </div>            
                    </div>
                   
                   
                </form>
            </div>
        </div>
    </section>
  </div>
    <app-footer></app-footer>
</div>




