.btn:hover {
    color: #fff !important;
}

.textareaa {
    border: 1px solid #ddd;
}

.btn.bg-oliveup:focus {
    color: #fff;
    outline: none;
    box-shadow: none;
}

.modalm {
    margin: 0 auto !important;
}

.error {
    float: right;
}

.space {
    margin-top: 20px;
}
button.btn.btn-flat.space {
    background: green;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin-top: 35px;
    padding: 7px;
    font-family: "Adelle";
    font-weight: bold;
    height: 44px;
    width: 100%;
    max-width: 135px;
}

button.btn.btn-primary.btn-block.btn-flat {
    /* border: 1px solid green; */
    background: green;
    border: none;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin-top: 35px;
    padding: 7px;
    font-family: "Adelle";
        font-weight: bold;
    height: 44px;
    /* max-width: 123px;; */ 
 
    width: 100%;
    max-width: 135px;
}