<app-header></app-header>
<app-menubar></app-menubar>
<div >
  <div class="content-wrapper">
    <section class="content footer-div">
        <div class=" setingTop">
            <div class="box-header">
                <h1 style="font-size: 24px;">
                    {{'editReview' | translate}}
                </h1>
            </div>
            <div class="box-header  box-hearder-564">
                <form class="" [formGroup]="form">
                    <div class="cusine" >
                        <div class="col-md-12" >
                            <div class="row mb-3 d-flex align-items-center">
                                <div class="w-100 d-flex align-items-center">
                                    <h4 class="col-md-2 p-0 text-nowrap" style = "font-size: 22px">
                                       <strong>{{'review' | translate}} </strong>  </h4>  
                                    <span class="col-md-2 text-center">:</span>                              
                                   <textarea class="col-md-8 form-control" id="" cols="30" rows="8"></textarea>
                                </div>
                              
                            </div>

                        </div>                 
                    </div>
                   
                    <div class="bx mt-4-btn" style="display: flex;justify-content: center;width: 100%;">
                        <button type="submit" class="btn btn-flat cusine btn-flat" [disabled]="!form.valid"
                            >{{'Update' | translate}}</button>
                            <button type="submit" class="btn btn-flat ml-5 cusine btn-flat" 
                            style="background-color: red"  routerLink ="/reviews-management-restaurent"
                           >{{'Cancel' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
  </div>
    <app-footer></app-footer>
</div>




