
                <header class="main-header" >
                    <!-- Logo -->
                    <a [routerLink]="['/login']" class="logo" style="background-color:#638f00;">
                      <!-- mini logo for sidebar mini 50x50 pixels -->
                      <span class="logo-mini"><b>FD</b></span>
                      <img style="    max-width: 200px;
                      max-height: 75px;
                      margin-top: 5px;" src="assets/adminLTE/dist/img/logonew.png" class="logb">
                      <!-- logo for regular state and mobile devices -->
                      <!-- <span class="logo-lg"><img src="assets/adminLTE/dist/img/user2-160x160.jpg"></span> -->
                    </a>
                    <!-- Header Navbar: style can be found in header.less -->
                    <nav class="navbar navbar-static-top" style="background-color: #638f00;">
                     
                
                      <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav custom-nav">
                        
                       
                          <!-- Control Sidebar Toggle Button -->
                         
                        </ul>
                        <ul class="nav navbar-nav custom-navbar">
                          <li>
                              <select class="form-control custom-slct" style="margin-top:5px;width: 100%;"
                                  (change)="selectlang($event)" [value]='language'>
                                  <!-- <option value="{{language}}" hidden>English</option> -->
                                  <option value="{{items?.language}}" *ngFor="let items of arry">{{items?.name}}</option>
                                  <!-- <option value="th" >Thai</option> -->
                              </select>
                          </li>
                      </ul>
                      </div>
                    </nav>
                  </header>
  
  <!-- <body class="hold-transition"> -->
    <div class="login-body">
      <section class="content footer-div">
        <div class="login-box">
        
          <!-- /.login-logo -->
          <!-- please enter your registered email - Traduction française ... -->
          <div class="login-box-body box-bdy">
            <h2 class="text-center mb-5" *ngIf = "two_food_delivery" >Forgot Your Password</h2>
            <h4 class="login-box-msg" style="text-align:center"><strong>{{'PleaseEnterYourRegisteredEmail' | translate}}</strong></h4>
            <h4 class="login-box-msg"  *ngIf = "two_food_delivery" style="text-align:center"><strong>Enter your registered email address. We will help you to reset your password.  </strong></h4>

            <form  method="post" [formGroup]="reserpasswordForm">
              <div class="form-group">
              <div class="has-feedback">
                <input type="email" class="form-control" placeholder="{{'email' | translate}}" formControlName="email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              </div>
              <div
              *ngIf="reserpasswordForm.get('email').hasError('required') && reserpasswordForm.get('email').touched">
              <span style="color:red">Email is required.</span></div>
              <div *ngIf="reserpasswordForm.get('email').hasError('maxlength') && reserpasswordForm.get('email').dirty"
              style="color:red">
              MaxLength should be 256.
          </div>
                  <!-- <div *ngIf="reserpasswordForm.get('email').hasError('maxlength') && reserpasswordForm.get('email').dirty"
                  style="color:red">
                  *Email maxlength 254.
              </div> -->
              <div *ngIf="reserpasswordForm.get('email').hasError('pattern') && reserpasswordForm.get('email').dirty"
                            style="color:red">
                            Please enter valid email.
        
        
                        </div>
                </div>        
              <div class="row">
               
                <!-- /.col -->
                <!-- <div class="col-xs-4 lognBrn">
                  <button type="submit" [disabled]="!loginForm.valid" class="btn btn-block btn-flat" (click)="forgetPassword()">Reset my Password</button>
                </div> -->
                <div class="col-xs-12 lognBrn">
                    <button type="submit" class="btn btn-block" [disabled]="!reserpasswordForm.valid" (click)="forgetPassword()">{{'Sendemail' | translate}}</button>
                  </div>
                <!-- /.col -->
              </div>
            </form>
          </div>
          <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->
        </section>
    </div>
  
    <!-- jQuery 3 -->
    <!-- Password: <input type="password" value="FakePSW" id="myInput"><br><br>
    <input type="checkbox" (click)="myFunction()">Show Password
    </body>
  
    <input type="password" value="FakePSW" id="myInput"><br><br>
  <input type="checkbox" onclick="myFunction()">Show Password -->
  <footer class="footer-text">
      <!-- <div class="pull-right hidden-xs">
          <b>Version</b> 2.4.13
      </div> -->
      <!-- <div class="footer-text"> -->
              <strong>Copyright &copy; 2020 <a href="javascript:;">Food Delivery</a>.</strong> 	&nbsp;All rights
              reserved.
      <!-- </div> -->
     
  </footer>