<app-header>
</app-header>
<app-menubar></app-menubar>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
   

    <!-- Main content -->
    <section class="content footer-div">
        <div class="">
            <div class="">
                <div class="box">
                    <div class="box-header">
                        <h1 style="font-size: 24px;">
                      {{'ReportedRestaurantList' | translate}}
                    </h1>
                    </div>
<!-- dasdsadasdasdasdasd -->
                    <div class="row sndRow">
                        <div class="col-md-3 green-col" style="border-radius: 18px!important">
                            <div class=" has-search">
                                <label></label>
                                <input type="text" class="form-control"  maxlength="50" placeholder="{{'SearchbyrestaurantName' | translate}}" style="border-radius: 20px;" [(ngModel)]="searchrestaurant" (keyup)="select($event.target.value)">

                                <span class="fa fa-search form-control-feedback"></span>
                            </div>
                        </div>
                    
                        <div class="col-md-2 green-col">
                            <label>{{'FromDate'| translate}}</label>
                            <input type="date" class="form-control dt1" [(ngModel)]="driver.fromDate" (ngModelChange)="getDate($event)" max="{{toMaxDate | date:'yyyy-MM-dd'}}">
                        </div>
                        <div class="col-md-2 green-col">
                            <label>{{'ToDate'| translate}}</label>
                            <input type="date" class="form-control dt2" [(ngModel)]="driver.toDate" (ngModelChange)="fromMaxDate($event)" min="{{formDate | date:'yyyy-MM-dd'}}" >
                        </div>
                        <div class="col-md-3" style="padding-top: 0.3%;">
                            <label></label>
                            <div class="btn-div">
                                <button type="button" class="btn bg-olive" (click)=" submit()" [disabled]="disabled==false">{{'Submit'| translate}}</button>
                              
                                <button type="button" class="btn margin margin1" (click)="reset()">{{'Reset'| translate}}</button>
                            </div>

                        </div>

                    </div>

                    <div class="box-body table-responsive">
                        <table id="example2" class="table zui-table table-bordered table-hover">
                            <thead>
                                <tr class="idMerchant"> 
                                 <th>{{'RestaurantName' | translate}}</th>
                                  <th>{{'Numberofreports' | translate}}</th>
                                  <th>{{'Action' | translate}}</th>

                                </tr>
                                <!-- dufoidsufiudiosf -->
                            </thead>
                            <tbody>
                             <tr *ngFor="let data of payout_data | paginate : {itemsPerPage:limit, currentPage:page, totalItems:total}: index as i">
                                 <td>{{data?.restaurant_name || '--'}}</td>
                                 <td>{{data?.number_of_reports || '--'}}</td>
                                 <td> 
                                    <button class="detail" [routerLink]="['/restaurant-report-details',{id:data?.id}]" >{{'Details'| translate}}</button>
                                </td>
                             </tr>

                            </tbody>
                        </table>
                        <h2 *ngIf="payout_data?.length == 0" style="text-align:center;">{{'Datanotfound!' | translate}}</h2>
         
                    </div>
               
                    <div class="pageination">
                        <pagination-controls (pageChange)="getmarchantdetail($event)" style="float:right;" *ngIf="payout_data?.length != 0">
                        </pagination-controls>
                    </div>


                </div>


            </div>
        </div>
    </section>
</div>


<footer class="footer-text">
    
    <strong>{{'Copyright'| translate}} &copy; 2020 <a href="javascript:;">{{'Food Delivery'| translate}}</a>.</strong> &nbsp;{{'Allrightsreserved'| translate}}

</footer>

<div class="modal" id="googleauth" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modals">
            <div class="modal-header">
                <h4 class="modalstyle" style="text-align:center">2 {{'StepVerification' | translate}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-box">
                <div class="barCode" *ngIf="qrCode">
                </div>
                <div class="form-group has-feedback codeSpace">
                    <label style="margin-left: 57px;">{{'GoogleAuthenticationCode' | translate}}</label>
                    <div class="otp-field">
                        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" (keypress)="numberOnly($event)" type="number"
                        style="width:57px; height:57px;" [config]="{length:6}" ></ng-otp-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 lognBrn">
                        <button type="submit" class="btn btn-primary btn-block btn-flat"  [disabled]="!varificationCode" (click)="verify()">{{'Verify'| translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>