<app-header>
                  </app-header>
                  <app-menubar></app-menubar>
                  <div class="content-wrapper">
                      <!-- Content Header (Page header) -->
                    
                      <!-- Main content -->
                      <section class="content footer-div">
                          <div class="">
                              <div class="">
                                  <div class="box">
                                      <div class="box-header">
                                          <h1 style="font-size: 24px;">
                                              {{'REFER FRIEND MANAGEMENT' | translate}}
                                          </h1>
                                      </div>
                                      <!-- hgghghghg -->
                                      <div class="row sndRow">
                                          <div class="col-md-3 green-col" style="border-radius: 18px!important">
                                              <div class=" has-search">
                                                  <input type="text" class="form-control" (keyup.enter)="searchSubmit()" placeholder="{{'Searchbyname' | translate}}" maxlength="50"
                                                      [(ngModel)]="searchRole" (keyup)="searchRoles($event.target.value)" maxlength="50" style="border-radius: 20px;">
                                                  <span class="fa fa-search form-control-feedback"></span>
                                              </div>
                                    </div>
                                              <div class="col-md-3 green-col" >
                                              <select class="form-control">
                                                  <option value="">Filter By Zone</option>               
                                                  <option value="Delhi">Zone 1</option>              
                                                  <option value="Noida">Zone 2</option>              
                                                  <option value="Gurgaon">Zone 3</option>              
                                              </select>
                                          </div>
                                          
                                      </div>
                                      <div class="box-body zui-scroller table-responsive">
                                          <table id="example2" class="table zui-table table-bordered table-hover">
                                              <thead>
                                                  <tr class="idMerchant">
                                                      <th>{{'S.No.' | translate}}</th>
                                                      <th>{{'Zones' | translate}}</th>
                                                      <th>{{'Driver Name' | translate}}</th>
                                                      <th>{{'Refer Friend Name' | translate}}</th>
                                                      <th>{{'Refer Friend Number' | translate}}</th>
                                                      <th style="width: 30%;">{{'Refer Friend City' | translate}}</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <!-- | paginate : {itemsPerPage:limit, currentPage:page, totalItems:total}:index as i" -->
                                                  <!-- <tr *ngFor="let data of manageroles | paginate : {itemsPerPage:limit, currentPage:page, totalItems:total}: index as i">
                                                      <th scope="row">{{data.id}}</th>
                                                      <td class="table-width">{{data?.name || '--'}}</td>
                                                      <td>{{data?.created_by || '--'}}</td>
                                                      <td>{{(data?.created_at | date : 'dd/MM/yyyy, H:mm' ||'--') || '--'}}</td>
                                                      <td *ngIf="data?.is_active ==true">Active</td>
                                                      <td *ngIf="data?.is_active !=true">Inactive</td> -->
                                                      <tr>
                                                          <td>1</td>
                                                          <td>Zone 1</td>
                                                          <td>Suresh Kumar</td>
                                                          <td>Mohit Kumar</td>
                                                          <td>9999999999</td>
                                                          <td>Delhi</td>
                                                         
                                                      
                                                  <!-- </tr> -->
                                              </tbody>
                                          </table>
                                          <div class="dnf">
                                              <!-- <h3 *ngIf="manageroles?.length==0">Data not found!</h3> -->
                                          </div>
                                      </div>
                                      <!-- <div class="pageination">
                                          <pagination-controls (pageChange)="pagination($event)" style="float:right;" *ngIf="manageroles?.length!=0">
                                          </pagination-controls>
                                      </div> -->
                                    
                                  </div>
                                  <!-- /.box -->
                                  <!-- /.box -->
                              </div>
                              <!-- /.col -->
                          </div>
                          <!-- /.row -->
                      </section>
                   
                      <!-- /.content -->
                  </div>
                  <div class="footer-section">
                      <app-footer></app-footer>
                  </div>
                  